page-statistics {
    .scroll-content {
        background: #ccc;
    }
    .locksection {
        background: #e6e6e6eb;
        height: 108px;
        width: 60%;
        position: absolute;
        left: 35%;
        border-radius: 5px;
        top: 166px;
        z-index: 99;
        ion-icon {
            font-size: 40px;
            width: 100%;
            line-height: 108px;
        }
    }
    .statisticList {
        .statisticItem {
            // font-weight: 300;
            &.big {
                text-transform: uppercase;
                font-weight: normal;
            }
            .stat {
                border: 1px solid #dadada;
                border-radius: 5px;
                background: #f5f4f4;
                margin: 2px;
            }
        }
    }
}