<app-header [title]="title"></app-header>

<ion-content>
    <div class="top56px"></div>

    <ion-card class="dcSection">
        <div class="sectionTitle">
            {{'ALL_TIME_STATS' | translate}}
        </div>
        <div class="sectionContent">
            <div class="statisticList">
                <div class="locksection" *ngIf="auth.userData.isUltimate != '1'" (click)="OpenUltimateSubscriptionDialog()">
                    <ion-icon text-center name="lock" color='dark'></ion-icon>
                </div>
                <ion-row class="statisticItem big">
                    <ion-col col-4></ion-col>
                    <ion-col text-center>{{'LBL_AVG' | translate}}</ion-col>
                    <ion-col text-center>{{'LBL_BEST' | translate}}</ion-col>
                    <ion-col text-center>{{'LBL_WORST' | translate}}</ion-col>
                </ion-row>
                <ion-row class="statisticItem">
                    <ion-col col-4>{{'501_AVG' | translate}}</ion-col>
                    <ion-col text-center>{{stats.matchAvg.avg || 0 | number:'1.2-2'}}</ion-col>
                    <ion-col class="stat" (click)="alltime('avg', 'best')" text-center>
                        {{stats.matchAvg.best || 0 | number:'1.2-2'}}</ion-col>
                    <ion-col class="stat" (click)="alltime('avg', 'worst')" text-center>
                        {{stats.matchAvg.worst || 0 | number:'1.2-2'}}</ion-col>
                </ion-row>
                <ion-row class="statisticItem">
                    <ion-col col-4>{{'FIRST_9_AVG' | translate}}</ion-col>
                    <ion-col text-center>{{stats.firstNine.avg || 0 | number:'1.2-2'}}</ion-col>
                    <ion-col class="stat" (click)="alltime('firstnine', 'best')" text-center>
                        {{stats.firstNine.best || 0 | number:'1.2-2'}}</ion-col>
                    <ion-col class="stat" (click)="alltime('firstnine', 'worst')" text-center>
                        {{stats.firstNine.worst || 0 | number:'1.2-2'}}</ion-col>
                </ion-row>
                <ion-row class="statisticItem">
                    <ion-col col-4>{{'CHECKOUT_RATE' | translate}}</ion-col>
                    <ion-col text-center>{{stats.checkoutRate.avg || 0 | number:'1.2-2'}}%</ion-col>
                    <ion-col class="stat" (click)="alltime('checkoutrate', 'best')" text-center>
                        {{stats.checkoutRate.best || 0 | number:'1.2-2'}}%</ion-col>
                    <ion-col class="stat" (click)="alltime('checkoutrate', 'worst')" text-center>
                        {{stats.checkoutRate.worst || 0 | number:'1.2-2'}}%</ion-col>
                </ion-row>
                <ion-row class="statisticItem">
                    <ion-col col-4>{{'CHECKOUTS' | translate}}</ion-col>
                    <ion-col text-center>{{stats.checkout.avg || 0 | number:'1.2-2'}}</ion-col>
                    <ion-col class="stat" (click)="alltime('checkout', 'best')" text-center>{{stats.checkout.best || 0 }}
                    </ion-col>
                    <ion-col class="stat" (click)="alltime('checkout', 'worst')" text-center>{{stats.checkout.worst || 0 }}
                    </ion-col>
                </ion-row>
                <!-- <ion-row class="statisticItem">
                        <ion-col col-5>{{'FIRST 9 AVG' | translate}}</ion-col>
                        <ion-col text-center>55,67</ion-col>
                        <ion-col text-center>100.20</ion-col>
                        <ion-col text-center>34.13</ion-col>
                    </ion-row> -->
            </div>
        </div>
    </ion-card>

    <ion-card class="dcSection">
        <div class="sectionTitle">
            {{'STATS_PER_GAME' | translate}}
        </div>
        <div class="sectionContent">
            <div class="dcList">
                <div class="dcListItem" (tap)="ShowMatches()">
                    {{'matches' | translate}}
                </div>
                <div class="dcListItem" (tap)="ShowTactics()">
                    {{'tactics/cricket training' | translate}}
                </div>
                <div class="dcListItem" (tap)="ShowSingles()">
                    {{'singles training' | translate}}
                </div>
                <div class="dcListItem" (tap)="ShowDoubles()">
                    {{'doubles training' | translate}}
                </div>
                <div class="dcListItem" (tap)="ShowBobs()">
                    {{'bobs training' | translate}}
                </div>
                <div class="dcListItem" (tap)="ShowScores()">
                    {{'scores training' | translate}}
                </div>
            </div>
        </div>
    </ion-card>

</ion-content>