<!-- <game-header color="dcOrange" [title]="title" [ShowStatistics]="ShowStatistics()"></game-header> -->
<ion-header>
    <ion-navbar color="dcOrange">
        <ion-title>{{gameState?.title | translate}}</ion-title>

        <ion-buttons right>
            <button class="nav-options" ion-button icon-only (tap)="ShowStatistics()">
        <ion-icon name="trending-up"></ion-icon>
      </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <div [ngClass]="{'landscapeGame': currentOrientation == 'landscape'}">
        <div class="halfSection">
            <div class="playerssection" *ngIf="(gameState?.teammode && teams.length == 2) || (!gameState?.teammode && teams.length == 2)">
                <div class="row playerRow">
                    <div class="col col-6 wrapperCol elipsis" *ngFor="let team of teams" align-self-center>
                        <div class="row players-{{team.players.length}}" *ngFor="let player of team.players">
                            <ion-icon *ngIf="currentPlayer == player" class="throwing" name="ios-arrow-forward"></ion-icon>
                            <div class="col elipsis" text-center>
                                <span text-center>{{player.name || ("no name" | translate)}}</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row interim">
                    <div class="col" *ngFor="let team of teams" align-self-center>
                        <div style="display: block; text-align: center;" class="row players-{{team.players.length}}">
                            <ion-badge *ngIf="gameState?.isSets">Sets: {{team.setsWon}}</ion-badge>
                            <ion-badge>Legs: {{currentSet.legsWon[team.ID] || 0}}</ion-badge>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="overview col" *ngFor="let team of teams">
                        <div class="row">
                            <span [ngClass]="{'withSubtext': gameState.subtexts}" class="score col" text-center>{{team.remaining}}</span>
                        </div>
                        <div class="row" *ngIf="gameState.subtexts">
                            <span class="throwout col" text-center>{{team.subtext || '&nbsp;'}}</span>
                        </div>
                        <span class="gamedetail first row">{{"last score" | translate}}: {{team.lastScore || '-'}}</span>
                        <span class="gamedetail secondary row">{{"darts thrown" | translate}}: {{currentLeg.darts[team.ID]|| 0}}</span>
                        <span class="gamedetail row">{{"average" | translate}}: {{((team.totalPoints/team.dartsThrown)*3) || 0 | number:'1.2-2'}}</span>
                    </div>
                </div>
            </div>
            <div class="playerssection" *ngIf="!gameState?.teammode && teams.length > 2">
                <ion-row class="singlePlayer">
                    <ion-col col-1 text-center align-self-center *ngIf="gameState?.isSets">
                        S
                    </ion-col>
                    <ion-col col-1 text-center align-self-center>
                        L
                    </ion-col>
                    <ion-col col-4 text-center align-self-center translate>
                        player
                    </ion-col>
                    <ion-col col-2 text-center align-self-center translate>
                        last score
                    </ion-col>
                    <ion-col col-2 text-center align-self-center translate>
                        average
                    </ion-col>
                    <ion-col col-2 text-center align-self-center>
                    </ion-col>
                </ion-row>
                <ion-row *ngFor="let team of teams" [ngClass]="{'throwingRow': team == currentTeam}">
                    <ion-col col-1 text-center *ngIf="gameState?.isSets">
                        {{team.setsWon}}
                    </ion-col>
                    <ion-col col-1 text-center>
                        {{currentSet.legsWon[team.ID] || 0}}
                    </ion-col>
                    <ion-col class="elipsis" col-4 text-center>
                        {{team.players[0].name || ("no name" | translate)}}
                    </ion-col>
                    <ion-col col-2 text-center>
                        {{team.lastScore || '-'}}
                    </ion-col>
                    <ion-col col-2 text-center>
                        {{((team.totalPoints/team.dartsThrown)*3) || 0 | number:'1.2-2'}}
                    </ion-col>
                    <ion-col col-2 text-center>
                        {{team.remaining}}
                    </ion-col>
                </ion-row>
            </div>
            <div class="playerssection" *ngIf="teams.length == 1">
                <div class="row playerRow">
                    <div class="col col-6 wrapperCol elipsis" *ngFor="let team of teams" align-self-center>
                        <div class="row players-{{team.players.length}}" *ngFor="let player of team.players">
                            <div class="col elipsis" text-center>
                                <span text-center>{{player.name || ("no name" | translate)}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row interim">
                    <div class="col" *ngFor="let team of teams" align-self-center>
                        <div style="display: block; text-align: center;" class="row players-{{team.players.length}}">
                            <ion-badge *ngIf="gameState?.isSets">Sets: {{teams[0].setsWon}}</ion-badge>
                            <ion-badge>Legs: {{currentSet.legsWon[1] || 0}}</ion-badge>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="overview col" *ngFor="let team of teams">
                        <div class="row">
                            <span class="score col" text-center>{{team.remaining}}</span>
                        </div>
                        <div class="row" *ngIf="team.subtext != null">
                            <span class="throwout col" text-center>{{team.subtext}}</span>
                        </div>
                        <span class="gamedetail first row">{{"last score" | translate}}: {{team.lastScore || '-'}}</span>
                        <span class="gamedetail secondary row">{{"darts thrown" | translate}}: {{currentLeg.darts[team.ID]|| 0}}</span>
                        <span class="gamedetail row">{{"average" | translate}}: {{((team.totalPoints/team.dartsThrown)*3) || 0 | number:'1.2-2'}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div flex layout="row" class="halfSection">
            <ion-grid class="keyboard">
                <ion-row>
                    <ion-col col-3>
                        <button full (click)="UndoScore()" ion-button icon-only class="iconButton" color="danger">
                    <ion-icon name="undo"></ion-icon>
                </button>
                    </ion-col>
                    <ion-col col-6>
                        <ion-input [(ngModel)]="score" text-center type="text" readonly placeholder="{{'Score'| translate}}"></ion-input>
                    </ion-col>
                    <ion-col col-3>
                        <button full (click)="SubmitScore(score)" ion-button icon-only class="iconButton">
                    <ion-icon name="arrow-forward"></ion-icon>
                </button>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <ion-numeric-keyboard class="black-keyboard" [visible]="isKeyboardVisible" [options]="keyboardOptions" (inkClick)="onClick($event)"></ion-numeric-keyboard>
        </div>
    </div>

</ion-content>