page-score-training {
    ion-content {
        background-color: #242424!important;
    }
    .playerssection {
        background-color: #ccc!important;
    }
    .item-md.list-header {
        background-color: #ccc!important;
        color: #444;
        margin: 0;
        border: 0;
    }
    .score {
        font-size: 290%!important;
        height: 50px!important;
    }
}