<ion-header>
    <ion-navbar color="dark">
        <ion-title>{{'login' | translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="login-content" padding>
    <div class="login-box">
        <facebook-login></facebook-login>

        <ion-row>
            <ion-col>
                <span style="color:#fff" translate>or</span>
            </ion-col>
        </ion-row>

        <login-form></login-form>
    </div>
</ion-content>