<ion-header>

    <ion-navbar>
        <ion-buttons end>
            <button ion-button icon-only (click)="DismissModal()">
                    <ion-icon item-right name="close"></ion-icon>
                </button>
        </ion-buttons>
        <ion-title>{{'privacy policy' | translate}}</ion-title>
    </ion-navbar>

</ion-header>

<ion-content padding>
    <p><strong>Last Revised:</strong>&nbsp;January 9, 2017</p>
    <p>DartCounter (&ldquo;<strong>Company</strong>&rdquo;, &ldquo;<strong>we</strong>&rdquo;, or &ldquo;<strong>us</strong>&rdquo;) is committed to protecting your privacy. We have prepared this Privacy Policy (&ldquo;<strong>Policy</strong>&rdquo;) to
        describe our practices regarding the personal information we collect from users of our website, located at <a href="http://dartcounter.net">http://dartcounter.net</a> (the &ldquo;<strong>Site</strong>&rdquo;), our mobile applications, including
        the application entitled &ldquo;DartCounter&rdquo; (each, an &ldquo;<strong>App</strong>&rdquo;), and online services (collectively, the &ldquo;<strong>Services</strong>&rdquo;). This Policy does not apply to websites, applications or services
        that do not display or link to this statement or that display or link to different privacy statements.</p>

    <h4>1. Types Of Data We Collect</h4>
    <p>1.1 Information You Provide</p>
    <p>We collect information about you in various ways when you use our Services. When you agree to our Privacy Policy, you consent to our collection of this information and permit us to use it for the purposes described in this Privacy Policy.</p>
    <p>We collect personal information you provide to us. For example, when you register for an account on our Services, we collect your name and email address, as well as any other information that you submit to us. In addition, if you provide us feedback
        or contact us (for support, for example), we will collect the data included in the communication. If you participate in a contest, sweepstakes or other promotion, we will collect any data you provide in connection with that promotion. We may also
        obtain information from other sources and combine that with information we collect on our Services.</p>
    <p>1.2 Information Automatically Collected Via Technology</p>
    <p>When you use our Services, some information is automatically collected. For example, when you use our Services your computer or device&rsquo;s operating system, Internet Protocol (&ldquo;IP&rdquo;) address, access times, browser type and language,
        domain name, date/time stamps for your use of the App, and your unique device identifier (&ldquo;UDID&rdquo;) and the website you visited before our site are logged automatically. We also collect information about your usage and activity on our
        Sites.
    </p>
    <p><u>Cookies</u>: We may automatically collect information using &ldquo;cookies.&rdquo; Cookies are small data files stored on your computer&rsquo;s hard drive by a website. Among other things, cookies help us improve our Services and your experience.
        We use cookies to store user session data, remember your account settings and determine if your system is compatible with certain technologies, such as Flash and JavaScript.</p>
    <p>Although we do our best to honor the privacy preferences of our visitors, we are not able to respond to Do Not Track signals from your browser at this time.</p>

    <h4>2. Use Of Your Data</h4>
    <p>We use personal information collected through our Site, App, and Services for purposes described in this Policy or disclosed to you on our Site, or in connection with our Services. For example, we may use your information to:</p>
    <ul style="margin-left:10px">
        <li>operate and improve our Services, App, and Sites;</li>
        <li>understand you and your preferences to enhance your experience and enjoyment using our Site, App, and Services;</li>
        <li>respond to your comments and questions and provide customer service;</li>
        <li>to send you related information, including confirmations, invoices, technical notices, updates, security alerts, and support and administrative messages;</li>
        <li>communicate with you about new contests, promotions, rewards, upcoming events, and other news about Services offered by Company and our selected partners; and</li>
        <li>link or combine it with other personal information we get from third parties, to help understand your needs and provide you with better service.</li>
    </ul>
    <p>We may also create anonymous and/or de-identified data records from your personal information by excluding information (such as your name) that make the data personally identifiable to you.</p>
    <h4>3. Payment Data</h4>
    <p>If you sign up for our Premium Services, or make other purchases through the Service, your credit card or debit card information (such as card type and expiration date) and other financial data that we need to process your payment may be collected
        and stored by the payment processors with which we work. We may also collect some limited information, such as your postal code, mobile number, and details of your transaction history, all of which are necessary to provide the Premium Services.</p>
    <p>In addition, the payment processors generally provide us with some limited information related to you, such as a unique token that enables you to make additional purchases using the information they&rsquo;ve stored, including recurring payments if
        you authorize automatic renewals, and your card&rsquo;s type, expiration date, and certain digits of your card number.</p>

    <h4>4. Sharing Of Personal Information</h4>
    <p>We do not share your personal information with third parties other than as follows:</p>
    <ul style="margin-left:10px">
        <li>with your consent;</li>
        <li>with third party vendors, consultants and other service providers who work for us and need access to your information to do that work, and are required by contract not to use your personal information other than to provide the services requested
            by the Company;</li>
        <li>to comply with laws or to respond to lawful requests and legal process,</li>
        <li>to protect the rights and property of the Company, our agents, customers, members, and others including to enforce our agreements, policies and terms of use or</li>
        <li>in an emergency to protect the personal safety of Company, its customers, or any person;</li>
        <li>in connection with or during negotiation of any merger, financing, acquisition, or dissolution, transaction or proceeding involving sale, transfer, divestiture, or disclosure of all or a portion of our business or assets to another company;</li>
    </ul>
    <p>You understand and agree that a Third Party Application&rsquo;s use of information collected from you (or as authorized by you) is governed by the Third Party Application&rsquo;s privacy policies and your settings on the relevant service, and the
        Company&rsquo;s use of such information is governed by this Privacy Policy and your account settings.</p>
    <p>We may also share aggregated or de-identified information in our sole discretion.</p>

    <h4>5. Your Choices Regarding Your Personal Information</h4>
    <p>We allow you to choose which forms of communication you receive from us, how you manage your public information, and how you set your sharing preferences. You may opt out of receiving promotional emails from us by following the instructions in those
        emails. If you opt out, we may still send you non-promotional emails, such as emails about your accounts or our ongoing business relations.</p>

    <h4>6. Security Of Your Personal Information</h4>
    <p>Company is committed to protecting the security of your personal information. We use a variety of industry-standard security technologies and procedures to help protect your personal information from unauthorized access, use, or disclosure. While
        Company uses reasonable efforts to protect your personal information, no security measure is completely secure, and we cannot guarantee the security of your information.</p>

    <h4>7. Contact Information</h4>
    <p>If you have any questions or concerns or complaints about our Privacy Policy or our data collection or processing practices, or if you want to report any security violations to us, please contact us at the following email address: <a href="mailto:info@dartcounter.net">info@dartcounter.net</a>.</p>

    <h4>8. Changes To This Privacy Policy</h4>
    <p>This Privacy Policy is subject to occasional revision, and if we make any material changes in the way we use your personal information, we will notify you by sending you an e-mail to the last e-mail address you provided to us and/or by prominently
        posting notice of the changes on our Site. Any changes to this Privacy Policy will be effective upon the earlier of thirty (30) calendar days following our dispatch of an e-mail notice to you or thirty (30) calendar days following our posting
        of notice of the changes on our Site. These changes will be effective immediately for new users of our Services. Please note that at all times you are responsible for updating your personal information to provide us with your most current e-mail
        address. In the event that the last e-mail address that you have provided us is not valid, or for any reason is not capable of delivering to you the notice described above, our dispatch of the e-mail containing such notice will nonetheless constitute
        effective notice of the changes described in the notice. In any event, changes to this Privacy Policy may affect our use of personal information that you provided us prior to our notification to you of the changes. If you do not wish to permit
        changes in our use of your personal information, you must notify us prior to the effective date of the changes. Continued use of our Services, following notice of such changes shall indicate your acknowledgement of such changes and agreement to
        be bound by the terms and conditions of such changes.
    </p>
</ion-content>