<app-header [title]="'new game'"></app-header>

<ion-content>

    <div class="top56px"></div>
    <ion-card class="dcSection" style="margin-top: 10px;">
        <div class="sectionTitle">
            {{'SELECT_A_GAME' | translate}}
        </div>
        <div class="sectionContent">
            <div class="dcList">
                <div class="dcListItem" (click)="openSettings(game)" *ngFor="let game of games">
                    {{game.title | translate}}
                    <ion-note item-right ng-if="game.description">
                        {{game.description}}
                    </ion-note>
                    <ion-badge item-right color="primary" *ngIf="storage.unfinisheds[game.settings.unfinishedKey]?.length">
                        {{storage.unfinisheds[game.settings.unfinishedKey].length}}</ion-badge>
                </div>
            </div>
        </div>
    </ion-card>

    <ion-row>
        <ion-col text-center *ngIf="preferenceService?.Preferences?.lang == 'de'">
            <span>
        <a href="https://mydartpfeil.com/?utm_source=dartcounter_app&utm_medium=banner">
          <img src="assets/images/mydartpfeil_square1.png" />
        </a>
      </span>
        </ion-col>
    </ion-row>
</ion-content>