page-games {
    .scroll-content {
        background: #e8e8e8;
    }
    .gameList .item {
        padding-left: 0;
        margin-top: 3px;
    }
    .gameList .item-inner {
        padding-left: 16px;
    }
}