<ion-header>
    <ion-navbar color="dark">
        <ion-title>{{'register' | translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="login-content" padding>
    <div class="login-box">
        <facebook-login></facebook-login>

        <ion-row>
            <ion-col>
                <span style="color:#fff" translate>or</span>
            </ion-col>
        </ion-row>

        <registration-form></registration-form>
    </div>
</ion-content>