page-register {
    .login-content {
        background: #2d2d2d;
        ion-row {
            align-items: center;
            text-align: center;
        }
        ion-item {
            padding-left: 30px !important;
            font-size: 0.9em;
            margin-bottom: 10px;
            border: 1px solid #ffffff;
            border-bottom: 0px !important;
            box-shadow: none !important;
        }
    }
}