<ion-header>

    <ion-navbar>
        <ion-buttons end>
            <button default="true" ion-button icon-only (click)="DismissModal()">
                    <ion-icon item-right name="close"></ion-icon>
                </button>
        </ion-buttons>
        <ion-title>{{'link account' | translate}}</ion-title>
    </ion-navbar>

</ion-header>

<ion-content>
    <ion-list radio-group [(ngModel)]="link" class="noMargin">
        <ion-item>
            <ion-label>{{'link a friend' | translate}}</ion-label>
            <ion-radio value="friend"></ion-radio>
        </ion-item>
    </ion-list>

    <ion-list *ngIf="link == 'friend'">
        <ion-item-divider>
            <ion-input (keyup)="searchTerm$.next($event.target.value)" type="text" placeholder="{{'name of player'| translate}}"></ion-input>
        </ion-item-divider>
        <ion-item *ngFor="let friend of Friends" (click)="LinkFriend(friend)">
            <ion-avatar item-left>
                <img src="http://dartcounter.net/images/profile_images/{{friend.ProfilePic}}">
            </ion-avatar>
            <h2>{{friend.FirstName}} {{friend.LastName}}</h2>
            <p>{{friend.Nickname || 'no nickname'}}</p>
        </ion-item>
    </ion-list>


    <ion-list radio-group [(ngModel)]="link" class="noMargin">
        <ion-item>
            <ion-label>{{'link an other account' | translate}}</ion-label>
            <ion-radio value="other"></ion-radio>
        </ion-item>
    </ion-list>
    <form *ngIf="link == 'other'" (ngSubmit)="TryLogin()" class="loginForm" #loginForm="ngForm">
        <ion-row>
            <ion-col>
                <ion-list>
                    <ion-item>
                        <ion-input type="text" placeholder="{{'username' | translate}}" name="username" [(ngModel)]="Username" required></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-input type="password" placeholder="{{'password' | translate}}" name="Password" [(ngModel)]="Password" required></ion-input>
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col class="signup-col">
                <button ion-button class="submit-btn" full type="submit" [disabled]="!loginForm.form.valid">{{'login' | translate}}</button>
            </ion-col>
        </ion-row>
    </form>

    <ion-list radio-group [(ngModel)]="link" class="noMargin">
        <ion-item>
            <ion-label>{{'link own account' | translate}}</ion-label>
            <ion-radio value="self"></ion-radio>
        </ion-item>
    </ion-list>
    <ion-row *ngIf="link == 'self'">
        <ion-col>
            <button ion-button (click)="LinkOwnAccount()" full>{{'link' | translate}}</button>
        </ion-col>
    </ion-row>

</ion-content>