<form class="loginForm" #loginForm="ngForm">
    <ion-row>
        <ion-col>
            <ion-list>
                <ion-item>
                    <ion-input type="text" placeholder="{{'username' | translate}}" name="username" [(ngModel)]="Username" required></ion-input>
                </ion-item>

                <ion-item>
                    <ion-input type="password" placeholder="{{'password' | translate}}" name="Password" [(ngModel)]="Password" required></ion-input>
                </ion-item>
            </ion-list>
        </ion-col>
    </ion-row>

    <ion-row>
        <ion-col>
            <button ion-button class="submit-btn" full (click)="TryLogin()" [disabled]="!loginForm.form.valid">{{'login' | translate}}</button>
        </ion-col>
    </ion-row>
</form>