<ion-header>
    <ion-navbar color="dcOrange">
        <ion-buttons end>
            <button ion-button icon-only (click)="DismissModal()">
                    <ion-icon item-right name="close"></ion-icon>
                </button>
        </ion-buttons>
        <ion-title>{{'languages' | translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list radio-group [(ngModel)]="lang" (ionChange)="LanguageChanged()">
        <ion-item>
            <ion-avatar item-left>
                <img class="flag" src="assets/images/flags/en.png">
            </ion-avatar>
            <ion-label>English</ion-label>
            <ion-radio value="en"></ion-radio>
        </ion-item>
        <ion-item>
            <ion-avatar item-left>
                <img class="flag" src="assets/images/flags/nl.png">
            </ion-avatar>
            <ion-label>Nederlands</ion-label>
            <ion-radio value="nl"></ion-radio>
        </ion-item>
        <ion-item>
            <ion-avatar item-left>
                <img class="flag" src="assets/images/flags/de.png">
            </ion-avatar>
            <ion-label>Deutsch</ion-label>
            <ion-radio value="de"></ion-radio>
        </ion-item>
    </ion-list>

    <div text-center>
        <button ion-item color="primary" (click)="DismissModal()">
            <span>{{'save' | translate}}</span>
        </button>
    </div>

</ion-content>