page-forgot-password {
    .login-content {
        background: #2d2d2d;
        ion-row {
            align-items: center;
            text-align: center;
        }
        ion-item {
            padding-left: 30px !important;
            font-size: 0.9em;
            margin-bottom: 10px;
            border: 1px solid #ffffff;
            border-bottom: 0px !important;
            box-shadow: none !important;
        }
        .signup-col {
            padding-bottom: 20px;
        }
        .item-inner {
            border-bottom-color: #ffffff !important;
            box-shadow: none !important;
        }
        .submit-btn {
            margin-top: -10px;
            background: #ff6600;
            height: 40px;
            border: 1px solid #424242;
        }
        .register-btn {
            color: #ffffff;
            font-size: 0.8em;
        }
    }
}