<ion-header>
    <ion-navbar color="dark">
        <ion-title>{{'forgot pass' | translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="login-content" padding>
    <div class="login-box">
        <div *ngIf="step == 1">
            <form (ngSubmit)="ForgotPass()" class="loginForm" #loginForm="ngForm">
                <ion-row>
                    <ion-col>
                        <ion-list>
                            <ion-item>
                                <ion-input type="email" placeholder="{{'email' | translate}}" name="email" [(ngModel)]="Email" required></ion-input>
                            </ion-item>
                        </ion-list>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col>
                        <button ion-button class="submit-btn" full type="submit" [disabled]="!loginForm.form.valid">{{'recover password' | translate}}</button>
                    </ion-col>
                </ion-row>
            </form>
        </div>
        <div *ngIf="step == 2">
            <ion-row>
                <ion-col style="color:#fff">
                    <span>{{'code sent to'| translate}}</span> <br/>
                    <span>{{Email}}</span>
                </ion-col>
            </ion-row>
            <form (ngSubmit)="AttemptDigits()" class="digitForm" #digitForm="ngForm">
                <ion-row>
                    <ion-col>
                        <ion-list>
                            <ion-item>
                                <ion-input type="text" placeholder="{{'fill digits in' | translate}}" name="digits" [(ngModel)]="Digits" required></ion-input>
                            </ion-item>
                        </ion-list>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col>
                        <button ion-button class="submit-btn" full type="submit" [disabled]="!digitForm.form.valid">{{'send' | translate}}</button>
                    </ion-col>
                </ion-row>
            </form>
        </div>

        <div *ngIf="step == 3">
            <ion-row>
                <ion-col style="color:#fff">
                    <span>{{'choose new pass for'| translate}}</span> <br/>
                    <span>{{Username}}</span>
                </ion-col>
            </ion-row>
            <form (ngSubmit)="SubmitNewPassword()" class="newPassForm" #newPassForm="ngForm">
                <ion-row>
                    <ion-col>
                        <ion-list>
                            <ion-item>
                                <ion-input type="password" placeholder="{{'new password' | translate}}" name="Password" [(ngModel)]="Password" required></ion-input>
                            </ion-item>
                        </ion-list>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-list>
                            <ion-item>
                                <ion-input type="password" placeholder="{{'repeatpass' | translate}}" name="Password2" [(ngModel)]="Password2" required></ion-input>
                            </ion-item>
                        </ion-list>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col>
                        <button ion-button class="submit-btn" full type="submit" [disabled]="!newPassForm.form.valid">{{'save' | translate}}</button>
                    </ion-col>
                </ion-row>
            </form>
        </div>
    </div>
</ion-content>