<ion-header>
    <ion-navbar>
        <ion-title>{{'agreement' | translate}}</ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding>

    <h2>
        {{'thank you for choosing us' | translate }}
    </h2>
    <p>{{'need to agree with the terms' | translate }}</p>

    <ion-scroll scrollY="true" style="height:300px; border: 1px solid #ff6600;">
        <div *ngIf="preferenceService?.Preferences?.lang == 'nl'">
            <p><span style="font-family: arial, helvetica, sans-serif;"><strong><span style="font-size: 18pt;">Licentieovereenkomst voor eindgebruikers van DartCounter</span></strong>
                </span>
            </p>
            <p><span style="font-family: arial, helvetica, sans-serif;"><strong><span style="font-size: 13.5pt;">Inhoud van de licentie</span></strong>
                </span>
            </p>
            <p><span style="font-size: 13.5pt; font-family: arial, helvetica, sans-serif;">DartCounter verleent hierbij aan de legitieme verwerver van DartCounter ("u") een gebruiksrecht voor deze app. Dit recht is beperkt tot gebruik door u als een natuurlijke persoon die niet handelt in de uitoefening van zijn beroep.</span></p>
            <p><span style="font-size: 13.5pt; font-family: arial, helvetica, sans-serif;">Deze licentie is persoonlijk. De app mag alleen worden gebruikt op het apparaat waarop de app is gedownload en ge&iuml;nstalleerd. Het doel van de app is om een ​​sportservice te bieden, terwijl gebruikers DartCounter voor elk doel mogen gebruiken binnen de grenzen van deze algemene voorwaarden en de wet.</span></p>
            <p><span style="font-size: 13.5pt; font-family: arial, helvetica, sans-serif;">&nbsp;</span></p>
            <p><span style="font-size: 13.5pt; font-family: arial, helvetica, sans-serif;">Het is niet toegestaan</span></p>
            <ul>
                <li><span style="font-size: 13.5pt; font-family: arial, helvetica, sans-serif;"> om de broncode van de App te decompileren of reverse-engineeren, behalve voor zover toegestaan ​​door dwingende wetgeving;</span></li>
                <li><span style="font-size: 13.5pt; font-family: arial, helvetica, sans-serif;"> om kopie&euml;n van de App aan derden te bezorgen;</span></li>
                <li><span style="font-size: 13.5pt; font-family: arial, helvetica, sans-serif;"> om de App in sublicentie te geven of om de App beschikbaar te maken voor derden, door verhuur, Software-as-a-Service constructies of anderszins;</span></li>
                <li><span style="font-size: 13.5pt; font-family: arial, helvetica, sans-serif;"> om de App aan te passen, behalve voor zover toegestaan ​​door dwingende wetgeving;</span></li>
                <li><span style="font-size: 13.5pt; font-family: arial, helvetica, sans-serif;"> om mededelingen van DartCounter als auteursrechthebbende van de App te verwijderen of onleesbaar te maken.</span></li>
            </ul>
            <p><span style="font-family: arial, helvetica, sans-serif;"><span style="font-size: 13.5pt;">De app verwerkt uw persoonlijke gegevens. Raadpleeg voor meer informatie de meest recente privacyverklaring die te vinden is op </span>
                <a href="http://dartcounter.net/PrivacyPolicy.pdf"><span style="font-size: 13.5pt; color: windowtext; text-decoration: none;">http://dartcounter.net/PrivacyPolicy.pdf</span></a>
                </span>
            </p>
            <p><span style="font-size: 13.5pt; font-family: arial, helvetica, sans-serif;">&nbsp;</span></p>
            <p><span style="font-size: 13.5pt; font-family: arial, helvetica, sans-serif;">In aanvulling op de bepalingen en voorwaarden van dit document kan Appstore van Apple voorwaarden stellen voor de aankoop en het gebruik van de app, het maken van in-app-aankopen en aanverwante zaken. Raadpleeg voor meer informatie de gebruiksvoorwaarden en de privacyverklaring van Apple's Appstore en andere bepalingen en voorwaarden die zijn vermeld op de website van deze derde partij.</span></p>
            <p><span style="font-size: 13.5pt; font-family: arial, helvetica, sans-serif;">&nbsp;</span></p>
            <p><span style="font-family: arial, helvetica, sans-serif;"><strong><span style="font-size: 13.5pt;">Intellectueel eigendom</span></strong>
                </span>
            </p>
            <p><span style="font-size: 13.5pt; font-family: arial, helvetica, sans-serif;">Alle rechten op de App, bijbehorende documentatie en alle aanpassingen en uitbreidingen daar om te rusten en bij DartCounter te blijven. U verkrijgt alleen de rechten en machtigingen die voortvloeien uit deze overeenkomst of die welke afzonderlijk schriftelijk worden verleend. U mag de App niet gebruiken, kopi&euml;ren of publiceren behalve zoals toegestaan.</span></p>
            <p><span style="font-size: 13.5pt; font-family: arial, helvetica, sans-serif;">&nbsp;</span></p>
            <p><span style="font-family: arial, helvetica, sans-serif;"><strong><span style="font-size: 13.5pt;">In-app aankopen</span></strong>
                </span>
            </p>
            <p><span style="font-size: 13.5pt; font-family: arial, helvetica, sans-serif;">De app biedt &eacute;&eacute;n in-app-aankoop; "DartCounter PRO". DartCounter PRO is een jaarlijks abonnement dat automatisch hernieuwbaar is en waarmee je toegang hebt tot meer functies en statistieken om je dartvaardigheden te verbeteren.</span></p>
            <p><span style="font-size: 13.5pt; font-family: arial, helvetica, sans-serif;">Wanneer je dit abonnement hebt, krijg je de nieuwste gameplays eerder dan de gebruikers zonder het abonnement. Ook zullen we in de toekomstige updates meer PRO-functies blijven toevoegen om het gebruik eenvoudiger, gedetailleerder en nog leuker te maken!</span></p>
            <p><span style="font-size: 13.5pt; font-family: arial, helvetica, sans-serif;">Het DartCounter PRO-abonnement kost $ 4,49 USD per jaar, dit wordt door iTunes automatisch omgezet naar uw eigen valuta. Lees 'Betaling en annulering' voor meer informatie over de jaarlijkse betaling of over het annuleren van automatisch verlengen.</span></p>
            <p><span style="font-size: 13.5pt; font-family: arial, helvetica, sans-serif;">&nbsp;</span></p>
            <p><span style="font-size: 13.5pt; font-family: arial, helvetica, sans-serif;">De betaling wordt bij bevestiging van de aankoop in rekening gebracht op uw iTunes-account.</span></p>
            <p><span style="font-size: 13.5pt; font-family: arial, helvetica, sans-serif;">24 uur v&oacute;&oacute;r het einde van elke abonnementsperiode (&eacute;&eacute;n jaar) wordt automatisch hetzelfde bedrag in rekening gebracht als dat je hebt betaald voor de eerste aankoop. Na verlenging is uw abonnement nog een jaar geldig.</span></p>
            <p><span style="font-size: 13.5pt; font-family: arial, helvetica, sans-serif;">&nbsp;</span></p>
            <p><span style="font-size: 13.5pt; font-family: arial, helvetica, sans-serif;">U kunt het automatisch verlengen op elk gewenst moment uitschakelen via uw iTunes / App Store-accountinstellingen; u moet dit ten minste 24 uur v&oacute;&oacute;r het einde van de huidige abonnementsperiode doen om te voorkomen dat u voor de volgende cyclus wordt gefactureerd.</span></p>
            <p><span style="font-size: 13.5pt; font-family: arial, helvetica, sans-serif;">Elk ongebruikt deel van een gratis proefperiode, indien aangeboden, zal worden verbeurd wanneer de gebruiker een abonnement op die publicatie koopt, indien van toepassing.</span></p>
            <p><span style="font-size: 13.5pt; font-family: arial, helvetica, sans-serif;">&nbsp;</span></p>
            <p><span style="font-family: arial, helvetica, sans-serif;"><strong><span style="font-size: 13.5pt;">Updates</span></strong>
                </span>
            </p>
            <p><span style="font-size: 13.5pt; font-family: arial, helvetica, sans-serif;">DartCounter geeft regelmatig updates vrij die bugs kunnen verhelpen of de werking van de app kunnen verbeteren. Beschikbare updates worden u meegedeeld via meldingen die worden aangeboden door de Appstore van Apple, maar het is uw verantwoordelijkheid om deze meldingen te controleren. Updates worden op dezelfde manier toegepast via deze platforms, waarvoor een actieve internetverbinding vereist is. Updates installeren vereist uw afzonderlijke toestemming. Een juiste toepassing van updates vereist de beschikbaarheid en goede werking van Apple's Appstore, waarover DartCounter geen controle heeft. DartCounter is niet verantwoordelijk of aansprakelijk voor een onjuiste uitvoering van updates. Er is geen aansprakelijkheid voor schade als gevolg van fouten die zijn opgelost in een update die u niet hebt ge&iuml;nstalleerd. Met een update kunnen voorwaarden worden ingesteld die afwijken van of verschillen met het huidige document. U wordt van tevoren op de hoogte gesteld en u kunt dergelijke updates weigeren. Het installeren van een dergelijke update houdt in dat u akkoord gaat met de aanvullende of andere voorwaarden, die vervolgens in deze overeenkomst worden opgenomen.</span></p>
            <p><span style="font-size: 13.5pt; font-family: arial, helvetica, sans-serif;">&nbsp;</span></p>
            <p><span style="font-family: arial, helvetica, sans-serif;"><strong><span style="font-size: 13.5pt;">Ondersteuning</span></strong>
                </span>
            </p>
            <p><span style="font-family: arial, helvetica, sans-serif;"><strong><span style="font-size: 13.5pt;">&nbsp;</span></strong>
                </span>
            </p>
            <p><span style="font-size: 13.5pt; font-family: arial, helvetica, sans-serif;">U bent zelf verantwoordelijk voor het installeren en activeren van de app en de bijbehorende webservice. DartCounter biedt een redelijke mate van ondersteuning via de website en / of e-mail (of andere kanalen die aan u zijn aangekondigd). DartCounter biedt echter geen garanties dat eventuele problemen of verzoeken die door u worden gesteld daadwerkelijk worden geadresseerd.</span></p>
            <p><span style="font-size: 13.5pt; font-family: arial, helvetica, sans-serif;">&nbsp;</span></p>
            <p><span style="font-family: arial, helvetica, sans-serif;"><strong><span style="font-size: 13.5pt;">Derden</span></strong>
                </span>
            </p>
            <p><span style="font-family: arial, helvetica, sans-serif;"><strong><span style="font-size: 13.5pt;">&nbsp;</span></strong>
                </span>
            </p>
            <p><span style="font-size: 13.5pt; font-family: arial, helvetica, sans-serif;">De DartCounter-software is vrij van gebruik. Om meer functionaliteit te krijgen, moet een gebruiker een account registreren. Deze uitgebreide functionaliteit kan nog meer worden door een in-app-aankoop te doen. De in-app-aankoop is volledig optioneel en ondersteunt DartCounter om meer nieuwe functionaliteit te maken en de software te verbeteren.</span></p>
            <p><span style="font-size: 13.5pt; font-family: arial, helvetica, sans-serif;">&nbsp;</span></p>
            <p><span style="font-size: 13.5pt; font-family: arial, helvetica, sans-serif;">Om de app gratis te houden zonder reclame, gaat elke geregistreerde gebruiker akkoord met de offici&euml;le DartCounter-partners om hen een eerste contact te geven. Een derde partij van DartCounter zal darts-gerelateerd zijn en zal uw mailbox niet spammen. Als u een e-mail hebt ontvangen van een partner van DartCounter, kunt u hun communicatie onmiddellijk annuleren door hen te vertellen dat u niet ge&iuml;nteresseerd bent.</span></p>
            <p><span style="font-size: 13.5pt; font-family: arial, helvetica, sans-serif;">&nbsp;</span></p>
            <p><span style="font-size: 13.5pt; font-family: arial, helvetica, sans-serif;">DartCounter is van plan om zoveel mogelijk functionaliteit voor de laagste prijs te geven. Dat is de reden waarom een ​​derde partij bijvoorbeeld uw ingevoerde volledige naam en e-mailadres mag ontvangen. DartCounter zal een derde contractueel aan vertellen niet te spammen met te veel e-mails of irrelevante informatie.</span></p>
            <p><span style="font-size: 13.5pt; font-family: arial, helvetica, sans-serif;">&nbsp;</span></p>
            <p><span style="font-size: 13.5pt; font-family: arial, helvetica, sans-serif;">Wat een derde communiceert, is niet automatisch ook de mening van DartCounter.</span></p>
            <p><span style="font-size: 13.5pt; font-family: arial, helvetica, sans-serif;">&nbsp;</span></p>
            <p><span style="font-family: arial, helvetica, sans-serif;"><strong><span style="font-size: 13.5pt;">Garanties en aansprakelijkheid</span></strong>
                </span>
            </p>
            <p><span style="font-family: arial, helvetica, sans-serif;"><strong><span style="font-size: 13.5pt;">&nbsp;</span></strong>
                </span>
            </p>
            <p><span style="font-size: 13.5pt; font-family: arial, helvetica, sans-serif;">DartCounter garandeert dat het zijn uiterste best zal doen om eventuele gerapporteerde bugs zo snel als praktisch mogelijk is te onderzoeken en een bug te repareren of voor een oplossing te zorgen (DartCounter kan bugs met beperkte impact tot de volgende geplande update uitstellen); maar niets anders. Behalve in gevallen van opzettelijk wangedrag of grove nalatigheid of de schending van een garantie hierboven verleend, is DartCounter niet aansprakelijk jegens u, ongeacht de grond, voor enige schade in verband met DartCounter. Er is geen aansprakelijkheid voor het geval schade niet tijdig na ontdekking aan DartCounter is gemeld. Een termijn van twee maanden na ontdekking zal in elk geval als tijdig worden beschouwd. Bovendien is er geen aansprakelijkheid indien de oorzaak van schade buiten de controle van DartCounter ligt (overmacht). De app communiceert via het internet met een server onder beheer van DartCounter om de volledige service te bieden. DartCounter doet al het mogelijke om deze server te allen tijde beschikbaar te hebben, maar biedt in dit opzicht geen garanties. Van tijd tot tijd kan DartCounter updates maken voor de server, wat kan leiden tot een tijdelijke onbeschikbaarheid. DartCounter zal zijn best doen om u van tevoren op de hoogte te stellen van onbeschikbaarheid. Alles in dit document met betrekking tot updates, ondersteuning en aansprakelijkheid is op dezelfde manier van toepassing op de server. Er is geen aansprakelijkheid voor schade die direct of indirect voortvloeit uit een onjuiste werking van Apple's Appstore.</span></p>
            <p><span style="font-size: 13.5pt; font-family: arial, helvetica, sans-serif;">&nbsp;</span></p>
            <p><span style="font-family: arial, helvetica, sans-serif;"><strong><span style="font-size: 13.5pt;">Looptijd van de overeenkomst</span></strong>
                </span>
            </p>
            <p><span style="font-size: 13.5pt; font-family: arial, helvetica, sans-serif;">Deze overeenkomst treedt in werking wanneer u de App gebruikt en blijft van kracht totdat deze wordt be&euml;indigd. De overeenkomst kan door u en DartCounter te allen tijde worden opgezegd met een opzegtermijn van &eacute;&eacute;n maand. Deze overeenkomst wordt automatisch en onmiddellijk be&euml;indigd in het geval u failliet gaat, een surseance van betaling aanvraagt, uw vermogen in beslag wordt genomen, u overlijdt, of in geval van liquidatie, juridische ontbinding of liquidatie. Na be&euml;indiging van de overeenkomst (ongeacht de reden) moet u stoppen met het gebruik van DartCounter. Bovendien moet u alle exemplaren (inclusief back-upkopie&euml;n) van DartCounter verwijderen van alle computersystemen die u beheert.</span></p>
            <p><span style="font-size: 13.5pt; font-family: arial, helvetica, sans-serif;">Op deze licentieovereenkomst voor eindgebruikers is Nederlands recht van toepassing. Tenzij anders voorgeschreven door dwingend recht, zullen alle geschillen die voortvloeien uit deze overeenkomst worden voorgelegd aan de bevoegde Nederlandse rechter voor de hoofdvestiging van DartCounter. De vaststelling dat een bepaalde bepaling van deze overeenkomst rechtsgeldig is, heeft geen invloed op de geldigheid van de gehele overeenkomst. In een dergelijk geval zullen de partijen een vervangende bepaling bepalen die rechtsgeldig is en de bedoeling van de overtredende bepaling zo veel mogelijk benaderen. DartCounter kan haar rechten en verplichtingen onder deze overeenkomst overdragen aan een derde partij die het desbetreffende bedrijf of de auteursrechten van DartCounter verwerft.</span></p>
        </div>
        <div *ngIf="preferenceService?.Preferences?.lang != 'nl'">
            <p style="line-height: normal;"><span style="font-family: arial, helvetica, sans-serif;"><strong><span style="font-size: 18pt; color: black;">End User License Agreement for DartCounter</span></strong>
                </span>
            </p>
            <p style="line-height: normal;"><span style="font-family: arial, helvetica, sans-serif;"><strong><span style="font-size: 13.5pt; color: black;">Scope of the license</span></strong>
                </span>
            </p>
            <p style="line-height: normal;"><span style="font-size: 13.5pt; font-family: arial, helvetica, sans-serif; color: black;">DartCounter hereby grants to the legitimate acquirer of DartCounter ("you") a usage right for this App. This right is restricted to use by you as a natural person not acting in the course of business.&nbsp;<br /> This license is personal. The App may be used only on the device onto which the App was downloaded and installed. The purpose of the App is to provide a sports service, while users are of course free to use DartCounter for any purpose within the boundaries of these terms and conditions and the law.</span></p>
            <p style="line-height: normal;"><span style="font-size: 13.5pt; font-family: arial, helvetica, sans-serif; color: black;">It is not permitted</span></p>
            <ul>
                <li style="margin-left: 7.5pt;"><span style="font-size: 13.5pt; font-family: arial, helvetica, sans-serif; color: black;">to decompile or reverse engineer the source code of the App, except to the extent permitted by mandatory law;</span></li>
                <li style="margin-left: 7.5pt;"><span style="font-size: 13.5pt; font-family: arial, helvetica, sans-serif; color: black;">to supply copies of the App to third parties;</span></li>
                <li style="margin-left: 7.5pt;"><span style="font-size: 13.5pt; font-family: arial, helvetica, sans-serif; color: black;">to sublicense the App or to make the App available to third parties, by rental, Software-as-a-Service constructs or otherwise;</span></li>
                <li style="margin-left: 7.5pt;"><span style="font-size: 13.5pt; font-family: arial, helvetica, sans-serif; color: black;">to modify the App, except to the extent permitted by mandatory law;</span></li>
                <li style="margin-left: 7.5pt;"><span style="font-size: 13.5pt; font-family: arial, helvetica, sans-serif; color: black;">to remove or make unreadable notices of DartCounter as copyright holder of the App.</span></li>
            </ul>
            <p style="line-height: normal;"><span style="font-size: 13.5pt; font-family: arial, helvetica, sans-serif; color: black;">The App processes your personal data. For more information consult the latest privacy statement that can be found at http://dartcounter.net/PrivacyPolicy.pdf</span></p>
            <p style="line-height: normal;"><span style="font-size: 13.5pt; font-family: arial, helvetica, sans-serif; color: black;">In addition to the terms and conditions of the present document Apple's Appstore may set terms for the acquisition and use of the App, the making of in-app purchases and related matters. To find out more, see the terms of use and privacy statement of Apple&rsquo;s Appstore and other terms and conditions identified on the website of this third party.</span></p>
            <p style="line-height: normal;"><span style="font-family: arial, helvetica, sans-serif;"><strong><span style="font-size: 13.5pt; color: black;">Intellectual property</span></strong>
                </span>
            </p>
            <p style="line-height: normal;"><span style="font-size: 13.5pt; font-family: arial, helvetica, sans-serif; color: black;">All rights to the App, accompanying documentation and all modifications and extensions there to rest and remain with DartCounter. You only acquire those rights and permissions that follow from this agreement or those that are granted separately in writing. You may not use, copy or publish the App except as permitted.</span></p>
            <p style="line-height: normal;"><span style="font-family: arial, helvetica, sans-serif;"><strong><span style="font-size: 13.5pt; color: black;">In-app purchases</span></strong>
                </span>
            </p>
            <p style="line-height: normal;"><span style="font-size: 13.5pt; font-family: arial, helvetica, sans-serif; color: black;">The app offers one in-app purchase; "DartCounter PRO". DartCounter PRO is an annual auto renewable subscription which gives you access to more features and statisics to improve your darts skills.&nbsp;<br /> When you own this subscription you will get the newest gameplays earlier than the users without the subscription. Also, we will keep adding more PRO features in the future updates to make the usage easier, more detailed and even more fun!</span></p>
            <p style="line-height: normal;"><span style="font-size: 13.5pt; font-family: arial, helvetica, sans-serif; color: black;">The DartCounter PRO subscription costs $4.49 USD each year, this will be automatically converted to your own currency by iTunes. For more infoemation about the annual payment or how to cancel auto renewing, read "Payment &amp; Cancellation".</span></p>
            <p style="line-height: normal;"><span style="font-size: 13.5pt; font-family: arial, helvetica, sans-serif; color: black;">The payment will be charged to your iTunes account at confirmation of purchase.<br /> 24 hours before the end of each subscription period (one year) you'll automatically be charged the same amount as you've paid for the initial purchase. After renewing, your subscription will be valid for another year.</span></p>
            <p style="line-height: normal;"><span style="font-size: 13.5pt; font-family: arial, helvetica, sans-serif; color: black;">You can turn off auto-renew at any time from your iTunes/App Store account settings; you must do so at least 24 hours before the end of the current subscription period to avoid being billed for the next cycle.&nbsp;<br /> Any unused portion of a free trial period, if offered, will be forfeited when the user purchases a subscription to that publication, where applicable.</span></p>
            <p style="line-height: normal;"><span style="font-family: arial, helvetica, sans-serif;"><strong><span style="font-size: 13.5pt; color: black;">Updates</span></strong>
                </span>
            </p>
            <p style="line-height: normal;"><span style="font-size: 13.5pt; font-family: arial, helvetica, sans-serif; color: black;">DartCounter periodically releases updates that may fix bugs or improve the functioning of the App. Available updates shall be notified to you through notifications provided by Apple&rsquo;s Appstore, but it is your responsibility to monitor these notifications. Updates are applied similarly through these platforms, which requires an active internet connection. Installing updates requires your separate consent. A proper application of updates requires the availability and good functioning of Apple&rsquo;s Appstore, over which DartCounter has no control. DartCounter is not responsible or liable for an incorrect execution of updates. No liability exists for any damage as a result of bugs fixed in an update you did not install. An update can set terms additional to or different from the present document. You will be notified in advance and you will be allowed to refuse such updates. Installing such an update constitutes your acceptance of the additional or different terms, which shall then be incorporated into this agreement.</span></p>
            <p style="line-height: normal;"><span style="font-family: arial, helvetica, sans-serif;"><strong><span style="font-size: 13.5pt; color: black;">Support</span></strong>
                </span>
            </p>
            <p style="line-height: normal;"><span style="font-size: 13.5pt; font-family: arial, helvetica, sans-serif; color: black;">You are solely responsible for installing and activating the App and the accompanying Web service. DartCounter shall offer a reasonable level of support through the website and/or e-mail (or other channels announced to you). DartCounter however makes no guarantees that any problems or requests raised by you shall actually be addressed.</span></p>
            <p style="line-height: normal;"><span style="font-family: arial, helvetica, sans-serif;"><strong><span style="font-size: 13.5pt; color: black;">Third Parties</span></strong>
                </span>
            </p>
            <p style="line-height: normal;"><span style="font-size: 13.5pt; font-family: arial, helvetica, sans-serif; color: black;">The DartCounter software is free of use. To get more functionality, a user needs to register an account. This extensive functionality can become even more by making an in-app purchase. The in-app purchase will be completely optional and will support DartCounter to make more new functionality and improve the software.</span></p>
            <p style="line-height: normal;"><span style="font-size: 13.5pt; font-family: arial, helvetica, sans-serif; color: black;">To keep the app free without advertising, any registered user agrees to the DartCounter official partners to give them a first contact. A third party of DartCounter will be darts-related and won&rsquo;t spam your mailbox. If you got an email from a partner of DartCounter, you are able to immediately cancel their communication by telling them you&rsquo;re not interested.</span></p>
            <p style="line-height: normal;"><span style="font-size: 13.5pt; font-family: arial, helvetica, sans-serif; color: black;">DartCounter intends to give as much functionality for the lowest price. That&rsquo;s why a third party could receive your for example your entered full name and emailadress. DartCounter will contractually tell a third party not to spam any user with too many emails or irrelevant information.</span></p>
            <p style="line-height: normal;"><span style="font-size: 13.5pt; font-family: arial, helvetica, sans-serif; color: black;">Whatever a third party communicates, will not automatically also be the opinion of DartCounter.</span></p>
            <p style="line-height: normal;"><span style="font-family: arial, helvetica, sans-serif;"><strong><span style="font-size: 13.5pt; color: black;">Guarantees and liability</span></strong>
                </span>
            </p>
            <p style="line-height: normal;"><span style="font-size: 13.5pt; font-family: arial, helvetica, sans-serif; color: black;">DartCounter guarantees it will use its best efforts to investigate any reported bugs as soon as is practical and to repair such bug or create a workaround (DartCounter may delay repairing bugs with limited impact until the next planned update); but nothing else. Except in cases of intentional misconduct or gross negligence or the violation of a warranty granted above DartCounter is not liable towards you, regardless of ground, for any damages in connection with DartCounter. No liability exists in case damages were not reported timely after discovery to DartCounter. A term of two months after discovery shall be regarded as timely in any case. In addition no liability exists if the cause of damage is beyond the control of DartCounter (force majeure). The App communicates via the internet with a server under control of DartCounter to provide the complete service. DartCounter uses its best efforts to have this server available at all times, but makes no guarantees in this regard. From time to time DartCounter can make updates to the server, which may lead to a temporary unavailability. DartCounter will do its best to inform you in advance about unavailability. Everything in this document regarding updates, support and liability applies equally to the server. No liability exists for damages directly or indirectly resulting from incorrect functioning of Apple&rsquo;s Appstore.</span></p>
            <p style="line-height: normal;"><span style="font-family: arial, helvetica, sans-serif;"><strong><span style="font-size: 13.5pt; color: black;">Term of the agreement</span></strong>
                </span>
            </p>
            <p style="line-height: normal;"><span style="font-size: 13.5pt; font-family: arial, helvetica, sans-serif; color: black;">This agreement enters into force when you start use of the App and remains in force until terminated. The agreement may be terminated by both you and DartCounter at any time by providing one month's notice. This agreement terminates automatically and immediately in case you enter into bankruptcy, apply for a suspension of payments, your assets are seized, you pass away, or in case enter into liquidation, legal dissolution or winding-up. After termination of the agreement (regardless of reason) you must cease all use of DartCounter. In addition you must remove all copies (including backup copies) of DartCounter from all computer systems under your control.</span></p>
            <p style="line-height: normal;"><span style="font-size: 13.5pt; font-family: arial, helvetica, sans-serif; color: black;">Dutch law applies to this end-user license agreement. Unless dictated otherwise by mandatory law, all disputes arising in connection with this agreement shall be brought before the competent Dutch court for the principal place of business of DartCounter. A finding that any particular provision of this agreement is legally void shall not affect the validity of the entire agreement. In such a case the parties shall determine a replacement provision that is legally valid and approximates the intent of the offending provision as much as possible. DartCounter may assign its rights and obligations under this agreement to a third party that acquires the relevant business or the copyrights to DartCounter from it.</span></p>
            <p><span style="font-family: arial, helvetica, sans-serif;">&nbsp;</span></p>
        </div>
    </ion-scroll>

</ion-content>

<ion-footer>
    <button ion-button full color="dcOrange" (click)="AgreeWithTerms()">
        {{'confirm' | translate }}
    </button>
</ion-footer>