<ion-header>
    <ion-navbar color="dcOrange">
        <ion-buttons end>
            <button ion-button icon-only (click)="DismissModal()">
                    <ion-icon item-right name="close"></ion-icon>
                </button>
        </ion-buttons>
        <ion-title>Dutch Open Winactie!</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>

    <div *ngIf="info">

        <h2>Wij staan op de Dutch Open</h2>

        <p>Bezoek de DartCounter-stand en krijg jouw win-code!</p>
        <p>Of kom een 501 potje tegen de dartbot gooien op onze baan!</p>
    </div>

    <p text-center><strong>Maak kans op mooie prijzen!</strong></p>

    <ion-list>
        <ion-item>
            <ion-input [(ngModel)]="code" class="uppercase" placeholder="Voer hier uw wincode in!" text-center></ion-input>
        </ion-item>
    </ion-list>

    <button color="dcOrange" (click)="SubmitCode()" ion-button full>Verstuur code</button>

    <h4>De prijzen</h4>
    <ul style="font-size: 18px;">
        <li>
            <strong>Hoofdprijs:</strong> Een geheel verzorgd weekend naar de Dutch Open 2020 incl. hotelovernachting en toegang tot de VIP!
        </li>
        <li>
            <strong>3x</strong> Winmau Blade 5 Dual Core
        </li>
        <li>
            <strong>5x</strong> Uitgebreide darts accessoire-set
        </li>
        <li>
            <strong>5x</strong> 1 jaar DartCounter Ultimate Membership
        </li>
        <li>
            <strong>15x</strong> 1 jaar DartCounter PRO Membership
        </li>
    </ul>

</ion-content>