<ion-header>
    <ion-navbar color="{{color}}">

        <ion-title *ngIf="title != null">{{title | translate}}</ion-title>

        <ion-buttons end>
            <button class="nav-options" ion-button icon-only (tap)="ShowStatistics()">
        <ion-icon name="ion-arrow-graph-up-right"></ion-icon>
      </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>