    page-dashboard {
        .scroll-content {
            background: #e8e8e8;
        }
        .dcCard {
            box-shadow: none;
            -webkit-box-shadow: none;
            float: left;
            background: #fff;
            .cardHeader {
                padding: 10px;
                font-size: 20px;
                font-weight: 300;
            }
            .cardContent {
                padding: 2px 10px 10px;
                &.big {
                    padding-top: 15px;
                }
                .backlog {
                    .bl_item {
                        float: left;
                        margin-bottom: 5px;
                    }
                    .bold {
                        text-transform: uppercase;
                        font-weight: bold;
                    }
                    button {
                        float: right;
                        font-size: 13px;
                        text-transform: uppercase;
                    }
                }
                .version {
                    float: right;
                    font-size: 20px;
                    font-weight: 300;
                    color: #a7a7a7;
                }
            }
        }
        ion-list,
        ion-item {
            .item-block .item-inner {
                border-bottom: none!important;
            }
            .label {
                margin: 7px 8px 7px 0 !important;
            }
            .card {
                .card-header {
                    padding: 5px 15px;
                    font-weight: bold;
                }
                margin: 0 0 3px !important;
                width: auto!important;
            }
            background: none!important;
        }
        ion-list {
            margin-top: 10px!important;
        }
        .fade-in-left-item {
            -webkit-animation: fadeInLeft 800ms;
            -moz-animation: fadeInLeft 800ms;
            -o-animation: fadeInLeft 800ms;
            animation: fadeInLeft 800ms;
        }
        .gamesCard {
            ion-card-header {
                background-color: #387ef5;
                font-weight: bold;
                color: white;
                background-image: url("../assets/images/climpek.png");
            }
        }
        .proCard {
            ion-card-header {
                background-color: #ff6600;
                font-weight: bold;
                color: white;
            }
            ion-card-content {
                background: #4a4a4a;
                background-image: url(../assets/images/climpek.png);
                color: #fff;
                text-shadow: 1px 1px #000;
            }
        }
        .changelogCard {
            ion-card-header {
                background-color: #387ef5;
                font-weight: bold;
                background-image: url("../assets/images/climpek.png");
                color: white;
            }
        }
        .reviewCard {
            ion-card-header {
                background-color: #ff6600;
                font-weight: bold;
                background-image: url("../assets/images/climpek.png");
                color: white;
            }
        }
    }