<ion-header>
    <ion-navbar color="secondary">
        <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

        <ion-title>
            <img src="assets/images/dartcounter.png" alt="dartcounter logo dark" />
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>

    <ion-card *ngIf="!auth.userData" class="dcCard" (click)="ShowLogin()">
        <div class="badge-promo red">
            <span class="badge-promo-content">
        {{'login or create title' | translate}}
      </span>
        </div>
        <div class="cardContent big">
            {{'login or create info' | translate}}
        </div>
    </ion-card>

    <ion-card class="dcCard" (click)="NewGame()">
        <div class="badge-promo orange">
            <span class="badge-promo-content">
        {{'new game' | translate}}
      </span>
        </div>
        <div class="cardContent big">
            {{'play x01, cricket, bobs 27 and more' | translate}}
            <button style="float:right" ion-button small color="light" (click)="ShowRating()">
        {{'new game' | translate}}
      </button>
        </div>
    </ion-card>

    <ion-card class="dcCard">
        <div class="badge-promo blue">
            <span class="badge-promo-content">
        {{'whats new' | translate}}
      </span>
        </div>
        <div class="cardContent big">
            <div class="backlog">
                <div class="bl_item bold">
                    <span>{{'whatsnew1' | translate }}</span>
                </div>
                <div class="bl_item">
                    <span>{{'name cta' | translate}}</span>
                </div>
            </div>
            <div class="version">v4.0.0</div>
        </div>
    </ion-card>

    <ion-card class="dcCard" *ngIf="auth.userData && (auth.userData.isPro != '1' || auth.userData.isUltimate != '1')">
        <div class="badge-promo orange">
            <span class="badge-promo-content">{{'upgrade account' | translate}}</span>
        </div>
        <div class="cardContent big">
            <div class="backlog">
                <div class="bl_item">
                    <span>{{'support us and become ultimate' | translate}}</span>
                </div>
                <div class="bl_item">
                    <span>{{'exclusive access to features' | translate}}</span>
                </div>
                <button ion-button small color="dcOrange" (click)="OpenSubscriptionDialog()">
          {{'upgrade btn' | translate}}
        </button>
            </div>
        </div>
    </ion-card>

    <!-- <ion-row style="background:#fff" padding *ngIf="preferenceService?.Preferences?.lang == 'nl' && showCode">
        <ion-col text-center>
            <h4 style="margin-top:0">
                Aanwezig op de Dutch Open?
            </h4>
            <img style="float: left;height: 60px;margin: 0 20px 10px;" src="assets/images/dutchopen_logo.png" />
            <p style="margin-top:0">
                <strong>
          Win een exclusief VIP-weekend voor de Dutch Open 2020
        </strong>
            </p>
            <button color="dcOrange" (click)="EnterCode(false)" ion-button full>Wincode invoeren</button>
            <button style="margin-top:0; border:none" (click)="EnterCode(true)" ion-button full outline>Waar vind ik een
        code?</button>
        </ion-col>
    </ion-row> -->

    <ion-card class="dcCard">
        <div class="badge-promo grey">
            <span class="badge-promo-content">
        {{'rate our app' | translate}}
      </span>
        </div>
        <div class="cardContent big">
            <div class="backlog">
                <div class="bl_item">
                    <span>{{'like or feedback let us know' | translate}}</span>
                </div>
                <button ion-button small color="light" (click)="ShowRating()">
          {{'rate our app' | translate}}
        </button>
            </div>
        </div>
    </ion-card>

</ion-content>