page-tacticslist {
    .scroll-content {
        background: #e8e8e8;
    }
    .borderTopItem {
        border-top: 1px solid #ccc;
    }
    .itemWithRow .label {
        margin: 5px 8px 5px 0!important;
    }
}