<!-- logged in menu (ionOpen)="showAds()" (ionClose)="hideAds()" -->
<ion-menu class="ingame-menu" id="ingamemenu" [content]="content">

    <!-- sound switch -->
    <ion-list *ngIf="options?.showSound && preferenceService.Preferences">
        <ion-list-header>
            {{'sound settings' | translate}}
        </ion-list-header>
        <ion-item>
            <ion-icon name="volume-up" item-left></ion-icon>
            <ion-label>Mastercaller</ion-label>
            <ion-toggle color="dcOrange" [(ngModel)]="preferenceService.Preferences.allowCaller" (ionChange)="preferenceService.UpdatePreferences()" item-right></ion-toggle>
        </ion-item>
    </ion-list>
    <!-- end of sound switch -->

    <div *ngIf="auth.userData && auth.userData.isPro != '1'" text-center>
        <ion-list *ngIf="options?.showAdvancedSound && preferenceService.Preferences" (click)="OpenSubscriptionDialog()">
            <ion-list-header>
                {{'advanced sound settings' | translate}}
            </ion-list-header>
            <ion-item>
                <ion-icon name="volume-up" item-left></ion-icon>
                <ion-label>{{'call the dartbot' | translate}}</ion-label>
                <ion-toggle color="dcOrange" disabled [(ngModel)]="preferenceService.Preferences.callDartbot" item-right></ion-toggle>
            </ion-item>
            <ion-item>
                <ion-icon name="volume-up" item-left></ion-icon>
                <ion-label>{{'call "you require"' | translate}}</ion-label>
                <ion-toggle color="dcOrange" disabled [(ngModel)]="preferenceService.Preferences.callYouRequire" item-right></ion-toggle>
            </ion-item>
        </ion-list>
        <button ion-item color="dcOrange" style="margin-bottom:10px" (click)="OpenSubscriptionDialog()">
            <ion-icon name="ribbon" item-left></ion-icon>
            <span>{{'buy ultimate' | translate}}</span>
        </button>
    </div>

    <!-- sound switch -->
    <div *ngIf="auth.userData && auth.userData.isPro == '1'" text-center>
        <ion-list *ngIf="options?.showAdvancedSound && preferenceService.Preferences">
            <ion-list-header>
                {{'advanced sound settings' | translate}}
            </ion-list-header>
            <ion-item>
                <ion-icon name="volume-up" item-left></ion-icon>
                <ion-label>{{'call the dartbot' | translate}}</ion-label>
                <ion-toggle color="dcOrange" [disabled]="!preferenceService.Preferences.allowCaller" [(ngModel)]="preferenceService.Preferences.callDartbot" (ionChange)="preferenceService.UpdatePreferences()" item-right></ion-toggle>
            </ion-item>
            <ion-item>
                <ion-icon name="volume-up" item-left></ion-icon>
                <ion-label>{{'call you require' | translate}}</ion-label>
                <ion-toggle color="dcOrange" [disabled]="!preferenceService.Preferences.allowCaller" [(ngModel)]="preferenceService.Preferences.callYouRequire" (ionChange)="preferenceService.UpdatePreferences()" item-right></ion-toggle>
            </ion-item>
        </ion-list>
    </div>
    <!-- end of sound switch -->

    <!-- <ion-list *ngIf="options?.showKeySize && preferenceService.Preferences">
        <ion-list-header>
            {{ "keyboard size" | translate}}
            <ion-badge color="primary" item-right></ion-badge>
        </ion-list-header>
        <ion-item>
            <ion-range [min]="45" [max]="200" [(ngModel)]="preferenceService.Preferences.keySize" (ionChange)="preferenceService.UpdatePreferences()" color="dcOrange">
            </ion-range>
        </ion-item>
    </ion-list> -->

    <ion-row>
        <ion-col text-center *ngIf="preferenceService?.Preferences?.lang == 'de'">
            <span>
                <a href="https://mydartpfeil.com/?utm_source=dartcounter_app&utm_medium=banner">
                    <img style="height: 50px;" src="assets/images/mydartpfeil.png" />
                </a>
            </span>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col col-3 text-center *ngIf="preferenceService?.Preferences?.lang == 'nl'">
            <span>
                <a href="http://www.ndbdarts.nl/">
                    <img style="height: 50px;" src="assets/images/ndb_logo.png" />
                </a>
            </span>
        </ion-col>
        <ion-col text-center>
            <span>
                <a href="http://www.winmau.com">
                    <img style="height: 45px;" src="assets/images/Winmau_logo_klein.png" />
                </a>
            </span>
        </ion-col>
    </ion-row>

    <p text-center class="appVersion">v4.0.0</p>
</ion-menu>