<app-header [title]="'profile'"></app-header>

<ion-content>
    <div class="top56px"></div>

    <div *ngIf="profile">
        <ion-refresher (ionRefresh)="refreshProfile($event)" style="background:#dadada">
            <ion-refresher-content pullingIcon="arrow-down" pullingText="" refreshingSpinner="circles" refreshingText="">
            </ion-refresher-content>
        </ion-refresher>

        <ion-item id="account">
            <ion-avatar item-left>
                <profile-image [url]="profile.ProfilePic"></profile-image>
            </ion-avatar>
            <h2>{{profile.FirstName}} {{profile.LastName}}</h2>
            <p>{{profile.Nickname || ('no nickname' | translate)}}</p>

            <button *ngIf="loaded && !profile.Self && (!profile.FriendStatus || profile.FriendStatus == 'incoming')" ion-button outline item-right (tap)="AddFriend(accountID)">{{'add friend' | translate}}</button>
            <button *ngIf="loaded && !profile.Self && profile.FriendStatus == 'pending'" ion-button outline color="grey" item-right (tap)="ShowPendingOptions(accountID)">{{'pending' | translate}}</button>
            <button *ngIf="loaded && !profile.Self && profile.FriendStatus == 'confirmed'" ion-button outline color="success" item-right (tap)="ShowFriendOptions(accountID)">{{'friends' | translate}}</button>
        </ion-item>

        <ion-row *ngIf="!profile.Self && profile.FriendStatus == 'incoming'">
            <button ion-button outline item-right color="success" (tap)="AcceptFriend(accountID)">{{'accept request' | translate}}</button>
            <button ion-button outline item-right color="danger" (tap)="RemoveFriend(accountID)">{{'decline request' | translate}}</button>
        </ion-row>

        <ion-segment [(ngModel)]="profileSegment">
            <ion-segment-button value="stats">
                {{'profile' | translate}}
            </ion-segment-button>
            <ion-segment-button value="friends">
                {{'friends' | translate}} ({{profile.friends?.length || 0}})
                <ion-badge item-end color="dcOrange" *ngIf="incomingFriends?.length">{{incomingFriends?.length}}</ion-badge>
            </ion-segment-button>
        </ion-segment>

        <div [ngSwitch]="profileSegment">
            <div style="background: #ccc;" *ngSwitchCase="'stats'">
                <div *ngIf="loaded">
                    <ion-card class="dcSection">
                        <div class="sectionTitle" text-center>
                            {{'general' | translate}}
                        </div>
                        <div class="sectionContent">
                            <div class="statisticList">
                                <ion-row class="statisticItem">
                                    <ion-col col-6>{{'createddate' | translate}}</ion-col>
                                    <ion-col col-6>{{profile.CreatedDate| date : 'dd-MM-yyyy' }}</ion-col>
                                </ion-row>
                                <ion-row class="statisticItem odd">
                                    <ion-col col-6>{{'darts' | translate}}</ion-col>
                                    <ion-col col-6>{{profile.Darts || "-"}}</ion-col>
                                </ion-row>
                                <ion-row class="statisticItem">
                                    <ion-col col-6>{{'team' | translate}}</ion-col>
                                    <ion-col col-6>{{profile.Team || "-"}}</ion-col>
                                </ion-row>
                                <ion-row class="statisticItem odd">
                                    <ion-col col-6>{{'league' | translate}}</ion-col>
                                    <ion-col col-6>{{profile.League || "-"}}</ion-col>
                                </ion-row>
                                <ion-row class="statisticItem">
                                    <ion-col col-6>{{'division' | translate}}</ion-col>
                                    <ion-col col-6>{{profile.Divison || "-"}}</ion-col>
                                </ion-row>
                            </div>
                            <button *ngIf="profile.Self" class="cta" small ion-button outline (tap)="OpenAccount()">{{'edit profile' | translate }}</button>

                        </div>
                    </ion-card>

                    <ion-card class="dcSection">
                        <div class="sectionTitle" text-center>
                            {{'stats' | translate}}
                        </div>
                        <div class="sectionContent">
                            <div class="statisticList">
                                <ion-row class="statisticItem">
                                    <ion-col col-6>{{'thrown darts' | translate}}</ion-col>
                                    <ion-col col-6>{{profile.turnsCount|| 0}}</ion-col>
                                </ion-row>
                                <ion-row class="statisticItem odd">
                                    <ion-col col-6>{{'thrown matches' | translate}}</ion-col>
                                    <ion-col col-6>{{profile.matchCount|| 0}}</ion-col>
                                </ion-row>
                                <ion-row class="statisticItem">
                                    <ion-col col-6>{{'thrown trainings' | translate}}</ion-col>
                                    <ion-col col-6>{{profile.trainingCount|| 0}}</ion-col>
                                </ion-row>
                                <ion-row class="statisticItem odd">
                                    <ion-col col-6>{{'highest finishes' | translate}}</ion-col>
                                    <ion-col col-6>{{profile.HighestThrowouts?.join(', ')}}</ion-col>
                                </ion-row>
                            </div>
                        </div>
                    </ion-card>

                    <ion-card class="dcSection">
                        <div class="sectionTitle" text-center>
                            {{'thrown scores' | translate}}
                        </div>
                        <div class="sectionContent">
                            <div class="statisticList">
                                <ion-row class="statisticItem" *ngFor="let score of thrownScores; let isOdd = odd; let isEven = even" [class.odd]="isOdd" [class.even]="isEven">
                                    <ion-col col-6>{{score.label}}</ion-col>
                                    <ion-col col-6>{{score.count}}</ion-col>
                                </ion-row>
                            </div>
                        </div>
                    </ion-card>
                </div>
            </div>

            <div style="background: #ccc;" *ngSwitchCase="'friends'">
                <!-- friend requests -->
                <ion-list *ngIf="incomingFriends?.length">
                    <ion-list-header>
                        {{'friend requests' | translate}}
                    </ion-list-header>
                    <ion-item *ngFor="let friend of incomingFriends" (click)="OpenProfile(friend.AccountID, friend)">
                        <ion-avatar item-left>
                            <profile-image [url]="friend.ProfilePic"></profile-image>
                        </ion-avatar>
                        <h2>{{friend.FirstName}} {{friend.LastName}}</h2>
                        <p>{{friend.Nickname || ('no nickname' | translate)}}</p>
                        <button ion-button round outline (tap)="AcceptFriend(friend.AccountID)" color="success" translate>accept
              request</button>
                        <button ion-button round outline (tap)="RemoveFriend(friend.AccountID)" color="danger" translate>decline
              request</button>
                    </ion-item>
                </ion-list>
                <!-- end friend requests -->

                <ion-list *ngIf="profile.friends?.length">
                    <ion-list-header *ngIf="incomingFriends?.length">
                        {{'friends' | translate}}
                    </ion-list-header>
                    <ion-item *ngFor="let friend of profile.friends" (click)="OpenProfile(friend.AccountID, friend)">
                        <ion-avatar item-left>
                            <profile-image [url]="friend.ProfilePic"></profile-image>
                        </ion-avatar>
                        <h2>{{friend.FirstName}} {{friend.LastName}}</h2>
                        <p>{{friend.Nickname || ('no nickname' | translate)}}</p>

                    </ion-item>
                </ion-list>

            </div>
        </div>
    </div>
</ion-content>