<ion-header>
    <ion-navbar color="dcOrange">
        <ion-title>{{title | translate}}</ion-title>

        <ion-buttons end>
            <button class="nav-options" ion-button icon-only (tap)="ShowHelp()">
            <ion-icon name="help-circle"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <div>
        <ion-row class="underline" style="background:#444; color:#fff" align-items-center>
            <ion-col col-3 text-center></ion-col>
            <ion-col style="border-left:1px solid #fff" class="elipsis" *ngFor="let team of teams" text-center>
                <div class="row players-{{team.players.length}}" *ngFor="let player of team.players">
                    <ion-icon *ngIf="currentPlayer == player" class="throwing" name="ios-arrow-forward"></ion-icon>
                    <div class="col elipsis" text-center>
                        <span text-center>{{player.name || ("no name" | translate)}}</span>
                    </div>
                </div>
            </ion-col>
        </ion-row>

        <ion-row class="underline height30" [ngClass]="{'isClosed': closedNumbers[number.title] == teams.length}" *ngFor="let number of gameValues" align-items-center>
            <ion-col col-3 (click)="PressKey(number.title, true)" text-center>
                <span>{{number.title != 25 ? number.title : "BULL"}}</span>
            </ion-col>
            <ion-col class="borderLeft" *ngFor="let team of teams" (click)="PressKey(number.title, true)" text-center>
                <!-- show the BULL amount IN the row -->
                <span *ngIf="team == currentTeam && GetAmountOfValue(number.title) > 0" style="float:left;padding-left:6px;">
                    ({{GetAmountOfValue(number.title)}})
                </span>
                <span *ngIf="GetCloseRate(number.title, team) > 2"><img style="height: 25px;padding-top: 5px;" src="assets/images/tactics-full.png" /></span>
                <span *ngIf="GetCloseRate(number.title, team) == 2"><img style="height: 25px;padding-top: 5px;" src="assets/images/tactics-two.png" /></span>
                <span *ngIf="GetCloseRate(number.title, team) == 1"><img style="height: 25px;padding-top: 5px;" src="assets/images/tactics-one.png" /></span>
            </ion-col>
        </ion-row>

        <ion-row class="totalscoreRow" align-items-center *ngIf="teams.length > 1">
            <ion-col col-3 text-center><span>Score</span></ion-col>
            <ion-col class="borderLeft" *ngFor="let team of teams" text-center>
                <span>{{team.total}}</span>
                <ion-badge *ngIf="team.turn.score > 0" item-end style="background: #0a630a;padding: 3px;">+{{team.turn.score}}</ion-badge>
            </ion-col>
        </ion-row>
    </div>
    <ion-grid class="keyboard">
        <ion-row>
            <ion-col col-3>
                <button (click)="UndoScore()" ion-button icon-only style="margin-top: 0px;" class="iconButton" color="danger">
                    <ion-icon name="undo"></ion-icon>
                </button>
            </ion-col>
            <ion-col col-6>
            </ion-col>
            <ion-col col-3>
                <button (click)="NextPlayer()" ion-button style="margin-top: 0px;" icon-only class="iconButton">
                    <ion-icon name="arrow-forward"></ion-icon>
                </button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>