dialog-link-account-warning {
    .scroll-content {
        background: url('../assets/images/blur.jpg') repeat;
    }
    p {
        font-size: 20px;
        padding: 0 40px;
        line-height: 1.5;
        color: #39393a;
    }
    h2.modalTitle {
        background: #232425;
        padding: 15px;
        margin: 0px;
        color: #fff;
        text-align: center;
        font-size: 21px;
        .mat-icon-button {
            float: right;
            margin-top: -7px;
            .mat-icon {
                color: white;
            }
        }
    }
    button.confirm {
        background: #ff6600;
        margin: 0;
        padding: 5px 0;
        height: 45px;
    }
    .button.confirm:hover:not(.disable-hover) {
        background: #ff6600;
    }
}