<ion-header>
    <ion-navbar color="dcOrange">
        <ion-buttons end>
            <button ion-button icon-only (click)="DismissModal()">
        <ion-icon item-right name="close"></ion-icon>
      </button>
        </ion-buttons>
        <ion-title>{{'title no account linked' | translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-row>
        <ion-col>
            <p style="font-weight: bold" translate>link account to save statistics</p>
        </ion-col>
    </ion-row>

    <ion-row>
        <ion-col>
            <p translate>with an account you can</p>
        </ion-col>
    </ion-row>

    <ion-row>
        <ion-col>
            <button (click)="DismissModal(true)" ion-button color="danger">{{'continue without account' | translate}}</button>
            <button (click)="DismissModal()" ion-button color="dcOrange">{{'btn link account' | translate}}</button>
        </ion-col>
    </ion-row>
</ion-content>