<ion-header>
    <ion-navbar color="dcOrange">
        <ion-title>{{title | translate}}</ion-title>

        <ion-buttons end>
            <button class="nav-options" ion-button icon-only (tap)="ShowHelp()">
            <ion-icon name="help-circle"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <div [ngClass]="{'landscapeGame': currentOrientation == 'landscape'}">
        <div class="halfSection playerssection">
            <div *ngIf="players.length <= 2">
                <div class="row playerRow">
                    <div class="col col-6 wrapperCol elipsis" *ngFor="let player of players" align-self-center>
                        <div class="row players-1">
                            <ion-icon *ngIf="currentPlayer == player" class="throwing" name="ios-arrow-forward"></ion-icon>
                            <div class="col elipsis" text-center>
                                <span text-center>{{player.name || ("no name" | translate)}}</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="overview col">
                        <div class="row">
                            <span class="score col" text-center>{{'hitthis1'| translate}} {{currentEntry?.title}} {{'hitthis2'| translate}}</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="overview col" *ngFor="let player of players">
                        <span class="gamedetail first row">{{"total points" | translate}}: {{player.hits}}</span>
                    </div>
                </div>
            </div>
            <div *ngIf="players.length > 2">
                <ion-row class="singlePlayer" style="height:3px;"> </ion-row>
                <div class="row">
                    <div class="overview col">
                        <div class="row">
                            <span class="score col" text-center>{{'hitthis1'| translate}} {{currentEntry?.title}} {{'hitthis2'| translate}}</span>
                        </div>
                    </div>
                </div>
                <ion-row class="singlePlayer">
                    <ion-col col-6 text-center align-self-center>
                        {{"player" | translate}}
                    </ion-col>
                    <ion-col col-3 text-center align-self-center>
                        {{"total points" | translate}}
                    </ion-col>
                    <ion-col col-3 text-center align-self-center>
                    </ion-col>
                </ion-row>
                <ion-row *ngFor="let player of players" [ngClass]="{'throwingRow': player == currentPlayer}">
                    <ion-col col-6 text-center align-self-center>
                        {{player.name || ("no name" | translate)}}
                    </ion-col>
                    <ion-col col-3 text-center align-self-center>
                        {{player.hits}}
                    </ion-col>
                    <ion-col col-3 text-center align-self-center>
                    </ion-col>
                </ion-row>
            </div>
        </div>
        <div class="halfSection">
            <!-- keyboard section -->
            <ion-grid class="keyboard">
                <ion-row>
                    <ion-col col-3>
                        <button full (click)="UndoScore()" ion-button icon-only class="iconButton" color="danger">
                    <ion-icon name="undo"></ion-icon>
                </button>
                    </ion-col>
                    <ion-col col-6>
                        <ion-input [(ngModel)]="score" text-center type="text" readonly placeholder="{{'Score'| translate}}"></ion-input>
                    </ion-col>
                    <ion-col col-3>
                        <button full (click)="SubmitScore(score)" ion-button icon-only class="iconButton">
                    <ion-icon name="arrow-forward"></ion-icon>
                </button>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <ion-numeric-keyboard class="black-keyboard" [visible]="isKeyboardVisible" [options]="keyboardOptions" (inkClick)="onClick($event)"></ion-numeric-keyboard>
        </div>
    </div>
</ion-content>