<ion-header>
    <ion-navbar color="dcOrange">
        <ion-title>{{'statistics' | translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-item id="account" *ngIf="auth.userData">
        <ion-avatar item-left>
            <profile-image [url]="auth.userData.ProfilePic"></profile-image>
        </ion-avatar>
        <div>
            <h2>{{auth.userData.FirstName}} {{auth.userData.LastName}}</h2>
            <p>{{auth.userData.Nickname || 'no nickname'}}</p>
        </div>
    </ion-item>

    <div padding style="background:#fff">
        <h3>{{'thrown scores' | translate}}</h3>
        <ion-row *ngFor="let score of thrownScores">
            <ion-col col-6>{{score.label}}</ion-col>
            <ion-col col-6>{{score.count}}</ion-col>
        </ion-row>
    </div>

</ion-content>