page-achievements {
    .scroll-content {
        background: #e8e8e8;
    }
    #account ion-avatar img {
        width: 55px;
        height: 55px;
        border: 1px solid #3e3e3e;
        border-radius: 10px;
    }
    #account,
    #account .item-inner {
        border: none;
        color: #fff;
        background: #444;
    }
}