<ion-content>

    <div *ngIf="possibleDartsAtDouble?.length">
        <h2 translate>darts on double</h2>
        <ion-row class="dartrow">
            <ion-col class="dart" [ngClass]="{'selected' : selectedDartAtDouble == dart}" text-center (click)="selectedDartAtDouble = dart" *ngFor="let dart of possibleDartsAtDouble">
                {{dart}}
            </ion-col>
        </ion-row>
    </div>

    <div *ngIf="possibleDarts?.length">
        <h2 translate>darts for finish</h2>
        <ion-row class="dartrow">
            <ion-col class="dart" [ngClass]="{'selected' : selectedDart == dart}" (click)="selectedDart = dart" text-center *ngFor="let dart of possibleDarts">
                {{dart}}
            </ion-col>
        </ion-row>
    </div>

</ion-content>

<ion-footer>
    <button ion-button full color="dcOrange" (click)="ReturnDarts()" [disabled]="isInvalid">
        {{'confirm' | translate }}
    </button>
</ion-footer>