dialog-throwout {
    .scroll-content {
        background: #d8d8d8;
        ;
    }
    h2 {
        background: rgb(56, 126, 245);
        padding: 15px;
        color: #fff;
        font-size: 21px;
    }
    .dartrow {
        padding: 0 10px;
        line-height: 75px;
        margin: 10px 0;
    }
    .dart {
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 7px;
        margin: 5px;
        font-size: 35px;
        color: #444;
        &.selected {
            background-color: #444;
            color: #fff;
        }
    }
}