<ion-content class="login-content" padding>
    <ion-row class="logo-row">
        <ion-col></ion-col>
        <ion-col col-8>
            <img src="assets/icon/dartcounter.png" />
        </ion-col>
        <ion-col></ion-col>
    </ion-row>
    <div class="login-box">
        <ion-row>
            <ion-col class="signup-col">
                <button ion-button class="submit-btn" full (click)="GoToLogin()">{{'login' | translate}}</button>
                <span style="color:#fff" translate>or</span>
                <button ion-button class="register-btn" color="grey" block outline (click)="GoToRegistration()">{{'create account' | translate}}</button>
                <hr style="background: #3e3e3e;margin: 15px 0;" />
                <button ion-button class="forgot-btn" block clear (click)="ForgotPassword()">{{'forgot pass' | translate}}</button>
                <button ion-button class="guest-btn" block clear (click)="GuestMode()">{{'guest login' | translate}}</button>
            </ion-col>
        </ion-row>
    </div>

    <ion-row>
        <ion-col col-3 text-center *ngIf="preferenceService?.Preferences?.lang == 'nl'">
            <span>
                    <img style="height: 50px;" src="assets/images/ndb_logo.png" />
                </span>
        </ion-col>
        <ion-col text-center>
            <span>
                    <img style="height: 45px;" src="assets/images/Winmau_logo_klein.png" />
                </span>
        </ion-col>
    </ion-row>

</ion-content>