page-home {
    .login-content {
        background: #2d2d2d;
        .logo-row {
            margin-top: 50px;
            margin-bottom: 20px;
        }
        .login-box {
            padding: 20px 20px 0px 20px;
            margin-top: 30px;
        }
        ion-row {
            align-items: center;
            text-align: center;
        }
        ion-item {
            padding-left: 30px !important;
            font-size: 15px;
            margin-bottom: 10px;
            border: 1px solid #ffffff;
            border-bottom: 0px !important;
            box-shadow: none !important;
        }
        .signup-col {
            padding-bottom: 20px;
        }
        .item-inner {
            border-bottom-color: #ffffff !important;
            box-shadow: none !important;
        }
        .facebook-btn {
            background: #3b5998;
            height: 40px;
            color: #fff;
            border: 1px solid #424242;
        }
        .submit-btn {
            background: #ff6600;
            height: 40px;
            border: 1px solid #424242;
        }
        .register-btn {
            color: #ffffff;
            font-size: 0.8em;
        }
        .forgot-btn {
            color: #ffffff;
            font-size: 0.8em;
        }
        .guest-btn {
            color: #ffffff;
            font-size: 0.8em;
        }
    }
}