dialog-save-or-delete {
    .scroll-content {
        background: url('../assets/images/blur.jpg') repeat;
    }
    p {
        font-size: 20px;
        padding: 0 40px;
        line-height: 1.5;
        color: #39393a;
    }
}