<ion-header>
    <ion-navbar color="dcOrange">
        <ion-buttons end>
            <button ion-button icon-only (click)="DismissModal()">
                    <ion-icon item-right name="close"></ion-icon>
                </button>
        </ion-buttons>
        <ion-title>{{'quit game' | translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-row>
        <ion-col text-center>
            <p translate>save for later</p>
        </ion-col>
    </ion-row>

    <ion-row>
        <ion-col>
            <button ion-button color="danger" full (click)="DismissModal()">
                <span>{{'quit' | translate}}</span>
            </button>
        </ion-col>
        <ion-col>
            <button ion-button color="primary" full (click)="DismissModal(true)">
                <span>{{'save' | translate}}</span>
            </button>
        </ion-col>
    </ion-row>


</ion-content>