page-account-settings {
    .scroll-content {
        background: #e8e8e8;
    }
    #account {
        color: #fff;
        margin: 0 0 5px 0;
        background: #25262a;
        border-bottom: 2px solid #1d1d1f;
        box-shadow: 0 2px 1px -2px #5d5d5d;
    }
    #account ion-avatar img {
        width: 55px;
        height: 55px;
        border: 1px solid #3e3e3e;
        border-radius: 10px;
    }
    #account .item-inner {
        border: none;
    }
}