<app-header></app-header>

<ion-content>
    <div class="top56px"></div>

    <div *ngIf="!account.FacebookID || !account.Username">
        <div *ngIf="!account.FacebookID">
            <ion-row>
                <ion-col>
                    <button ion-button class="facebook-btn" block clear (click)="LinkFacebook()">{{'link facebook' | translate}}</button>
                </ion-col>
            </ion-row>
        </div>

        <div *ngIf="!account.Username">
            <ion-list radio-group [(ngModel)]="link" class="noMargin">
                <ion-item>
                    <ion-label>{{'link existing account' | translate}}</ion-label>
                    <ion-radio value="existing"></ion-radio>
                </ion-item>
            </ion-list>
            <form *ngIf="link == 'existing'" class="loginForm" #loginForm="ngForm">
                <ion-row>
                    <ion-col text-center>
                        <span translate>your dartcounter account will be linked to your facebook login</span>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-list>
                            <ion-item>
                                <ion-input type="text" placeholder="{{'username' | translate}}" name="username" [(ngModel)]="Username" required></ion-input>
                            </ion-item>

                            <ion-item>
                                <ion-input type="password" placeholder="{{'password' | translate}}" name="Password" [(ngModel)]="Password" required></ion-input>
                            </ion-item>
                        </ion-list>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col class="signup-col">
                        <button ion-button class="submit-btn" full click="LinkExistingToFacebook()" [disabled]="!loginForm.form.valid">{{'link' | translate}}</button>
                        <hr style="background: #bdbdbd; margin: 15px 0 0;" />
                        <button ion-button class="forgot-btn" block clear (click)="ForgotPassword()">{{'forgot pass' | translate}}</button>
                    </ion-col>
                </ion-row>
            </form>

            <ion-list radio-group [(ngModel)]="link" class="noMargin">
                <ion-item>
                    <ion-label>{{'finish account' | translate}}</ion-label>
                    <ion-radio value="new"></ion-radio>
                </ion-item>
            </ion-list>
            <form *ngIf="link == 'new'" (ngSubmit)="AddLoginToAccount()" class="newAccountForm" #newAccountForm="ngForm">
                <ion-row>
                    <ion-col text-center>
                        <span translate>choose a username and password for your account</span>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-list>
                            <ion-item>
                                <ion-input type="text" placeholder="{{'username' | translate}}" name="username" [(ngModel)]="Username" required></ion-input>
                            </ion-item>

                            <ion-item>
                                <ion-input type="password" placeholder="{{'password' | translate}}" name="Password" [(ngModel)]="Password" required></ion-input>
                            </ion-item>
                        </ion-list>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col class="signup-col">
                        <button ion-button class="submit-btn" full type="submit" [disabled]="!newAccountForm.form.valid">{{'save' | translate}}</button>
                    </ion-col>
                </ion-row>
            </form>
        </div>
    </div>
</ion-content>