page-remote-control {
    .scroll-content {
        background: #e8e8e8;
    }
    .gameList .item {
        padding-left: 0;
    }
    .gameList .item-inner {
        padding-left: 16px;
    }
    .list-header-md {
        margin-bottom: 0px;
    }
}