<app-header [title]="title"></app-header>

<ion-content>
    <div class="top56px"></div>

    <!-- keyboard section -->
    <ion-grid class="keyboard">
        <ion-row>
            <ion-col col-3>
                <button (click)="UndoScore()" ion-button icon-only class="iconButton" color="danger">
                        <ion-icon name="undo"></ion-icon>
                    </button>
            </ion-col>
            <ion-col col-6>
                <ion-input [(ngModel)]="score" text-center type="text" readonly placeholder="{{'Score'| translate}}"></ion-input>
            </ion-col>
            <ion-col col-3>
                <button (click)="SubmitScore(score)" ion-button icon-only class="iconButton">
                        <ion-icon name="arrow-forward"></ion-icon>
                    </button>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-numeric-keyboard class="black-keyboard" [visible]="isKeyboardVisible" [options]="keyboardOptions" (inkClick)="onClick($event)"></ion-numeric-keyboard>
</ion-content>