dialog-login-required {
    .login-content {
        background: #2d2d2d;
        ion-row {
            align-items: center;
            text-align: center;
        }
        ion-item {
            padding-left: 30px !important;
            font-size: 15px;
            margin-bottom: 10px;
            border: 1px solid #ffffff;
            border-bottom: 0px !important;
            box-shadow: none !important;
        }
        .signup-col {
            padding-bottom: 20px;
        }
        .item-inner {
            border-bottom-color: #ffffff !important;
            box-shadow: none !important;
        }
        .register-btn {
            color: #ffffff;
            font-size: 0.8em;
        }
        .forgot-btn {
            color: #ffffff;
            font-size: 0.8em;
        }
        .guest-btn {
            color: #ffffff;
            font-size: 0.8em;
        }
    }
}