<ion-header>
    <ion-navbar color="dcOrange">
        <ion-buttons end>
            <button ion-button icon-only (click)="DismissModal()">
                    <ion-icon item-right name="close"></ion-icon>
                </button>
        </ion-buttons>
        <ion-title>{{'login required' | translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="login-content" padding>
    <div class="login-box">
        <ion-row>
            <ion-col>
                <span style="color:#fff" translate>login to access this feature</span>
            </ion-col>
        </ion-row>

        <facebook-login [pop]="1"></facebook-login>

        <ion-row>
            <ion-col>
                <span style="color:#fff" translate>or</span>
            </ion-col>
        </ion-row>

        <login-form></login-form>

        <ion-row>
            <ion-col>
                <span style="color:#fff" translate>or</span>
            </ion-col>
        </ion-row>

        <button ion-button class="register-btn" color="grey" block outline (click)="GoToRegistration()">{{'create account' | translate}}</button>
    </div>
</ion-content>