<ion-content padding>

    <h2 text-center>{{'new feature' | translate}}!</h2>

    <p text-center>{{'swipe right to show the in-game menu' | translate}}</p>

    <p text-center>
        <img src="assets/images/swipe-right.gif" alt="swipe right for menu" />
    </p>

    <button text-center (click)="Dismiss()" ion-button full color="primary">
        {{'close' | translate}} 
    </button>
</ion-content>