<app-header title="page friends"></app-header>

<ion-content>
    <div class="top56px"></div>

    <ion-searchbar placeholder="{{'search' | translate}}" [(ngModel)]="searchString" [showCancelButton]="showCancel" (ionInput)="onInput($event)" (ionCancel)="onCancel($event)">
    </ion-searchbar>

    <div *ngIf="!searchString && !recentSearches.length">
        <p text-center>{{'no recent searches' | translate}}</p>
    </div>
    <div *ngIf="!searchString && recentSearches.length">
        <p text-center>{{'recent searches' | translate}}</p>
        <ion-list>
            <ion-item *ngFor="let person of recentSearches" (click)="OpenProfile(person)">
                <ion-avatar item-left>
                    <profile-image [url]="person.ProfilePic"></profile-image>
                </ion-avatar>
                <h2>{{person.FirstName}} {{person.LastName}}</h2>
                <p>{{person.Nickname || 'no nickname' | translate}}</p>
                <ion-icon *ngIf="person.Status == 'confirmed'" item-right name="checkmark" color="success"></ion-icon>
                <button *ngIf="person.Status == 'pending'" ion-button outline color="grey" item-right (tap)="ShowPendingOptions(person)">
                {{'pending' | translate}}
            </button>
                <ion-icon *ngIf="!person.Status" item-right (tap)="AddFriend(person)" name="add" color="grey"></ion-icon>
            </ion-item>
        </ion-list>
    </div>

    <div *ngIf="searchString && !people.length">
        <p text-center>{{'no results' | translate}}</p>
    </div>
    <ion-list *ngIf="searchString && people.length">
        <ion-item *ngFor="let person of people" (click)="OpenProfile(person)">
            <ion-avatar item-left>
                <profile-image [url]="person.ProfilePic"></profile-image>
            </ion-avatar>
            <h2>{{person.FirstName}} {{person.LastName}}</h2>
            <p>{{person.Nickname || 'no nickname' | translate}}</p>
            <ion-icon *ngIf="person.Status == 'confirmed'" item-right name="checkmark" color="success"></ion-icon>
            <button *ngIf="person.Status == 'pending'" ion-button outline color="grey" item-right (tap)="ShowPendingOptions(person)">
                {{'pending' | translate}}
            </button>
            <ion-icon *ngIf="!person.Status" item-right (tap)="AddFriend(person)" name="add" color="grey"></ion-icon>
        </ion-item>
    </ion-list>
</ion-content>