<ion-header>
    <ion-navbar color="dcOrange">
        <ion-buttons end>
            <button ion-button icon-only (click)="DismissModal()">
                    <ion-icon item-right name="close"></ion-icon>
                </button>
        </ion-buttons>
        <ion-title>{{'upgrade account' | translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>

    <p translate text-center>
        discount because pro
    </p>

    <ion-row>
        <ion-col>
            <h2 style="margin: 0;" translate text-center>become ultimate member</h2>
        </ion-col>
    </ion-row>
    <p text-center style="margin: 0 0 10px;">€9,99 {{'per year' | translate}} {{'or' | translate}} €1,99 {{'per month' | translate}}</p>

    <ion-list class="ultimateList">
        <ion-item>
            <ion-icon name="ios-checkmark" color="success" class="noMargin" item-left></ion-icon>
            {{'ultimate feature1' | translate}}
        </ion-item>
        <ion-item>
            <ion-icon name="ios-checkmark" color="success" class="noMargin" item-left></ion-icon>
            {{'ultimate feature2' | translate}}
        </ion-item>
        <ion-item>
            <ion-icon name="ios-checkmark" color="success" class="noMargin" item-left></ion-icon>
            {{'ultimate feature3' | translate}}
        </ion-item>
        <ion-item>
            <ion-icon name="ios-checkmark" color="success" class="noMargin" item-left></ion-icon>
            {{'ultimate feature4' | translate}}
        </ion-item>
        <ion-item>
            <ion-icon name="ios-checkmark" color="success" class="noMargin" item-left></ion-icon>
            {{'ultimate feature5' | translate}}
        </ion-item>
        <ion-item>
            <ion-icon name="ios-checkmark" color="success" class="noMargin" item-left></ion-icon>
            {{'ultimate feature6' | translate}}
        </ion-item>
    </ion-list>

    <!-- <ion-row style="padding: 5px;">
        <ion-col style="border:1px solid #ccc">
            <img src="assets/images/ult-1.png" imageViewer />
        </ion-col>
        <ion-col style="border:1px solid #ccc">
            <img src="assets/images/ult-2.png" imageViewer />
        </ion-col>
        <ion-col style="border:1px solid #ccc">
            <img src="assets/images/ult-3.png" imageViewer />
        </ion-col>
    </ion-row> -->

    <ion-row>
        <ion-col>
            <button ion-button full (click)="BuyUltimate()">
                {{'buy ultimate' | translate}}</button>
        </ion-col>
    </ion-row>

    <button ion-button full outline (click)="OpenAgreementDialog()">{{'agreement' | translate}}</button>

    <button ion-button full outline (click)="OpenPolicyDialog()">{{'privacy policy' | translate}}</button>

</ion-content>