dialog-ultimate-subscription {
    .content {
        background: #f1f1f1;
    }
    .content-md .extraIAPinfo {
        display: none!important;
    }
    .content-ios .extraIAPinfo {
        display: inline-block!important;
    }
    .ultimateList {
        margin: 5px 12px;
        -webkit-box-shadow: 0px 0px 4px -2px rgba(156, 156, 156, 1);
        -moz-box-shadow: 0px 0px 4px -2px rgba(156, 156, 156, 1);
        box-shadow: 0px 0px 4px -2px rgba(156, 156, 156, 1);
    }
    .ultimateList ion-item {
        padding: 0;
        min-height: 0;
        border: none!important;
        font-size: 13px;
        .item-inner {
            border: none!important;
            margin: 0!important;
        }
        ion-label {
            white-space: normal;
            margin: 4px 0 !important;
        }
    }
}