// http://ionicframework.com/docs/v2/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
body {
    padding-top: constant(safe-area-inset-top); //for iOS 11.2
    padding-top: env(safe-area-inset-top); //for iOS 11.1
}

.popover-content {
    width: 320px!important;
}


/* NEW CSS 2019 */

.toolbar-title {
    font-size: 24px;
    font-weight: 300;
}

// ribbon code
.badge-promo {
    position: relative;
    overflow: hidden;
    max-height: 60px;
    margin-bottom: -8px;
    z-index: 1;
    padding: 12px 14px;
    border-radius: 2px 2px 0 0;
    color: #fff;
    text-align: left;
    &:before,
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
    }
    &.blue {
        &:before {
            background: #6dc1fb;
            height: 100%;
            width: 110%;
            transform-origin: bottom right;
            transform: rotate(1deg);
        }
        &:after {
            background: #2193e2;
            transform: rotate(-3deg);
            transform-origin: bottom left;
            height: 100%;
            width: 110%;
        }
    }
    &.orange {
        &:before {
            background: #ff9854;
            height: 100%;
            width: 110%;
            transform-origin: bottom right;
            transform: rotate(1deg);
        }
        &:after {
            background: #ff6600;
            transform: rotate(-3deg);
            transform-origin: bottom left;
            height: 100%;
            width: 110%;
        }
    }
    &.red {
        &:before {
            background: #ff5454;
            height: 100%;
            width: 110%;
            transform-origin: bottom right;
            transform: rotate(1deg);
        }
        &:after {
            background: #d01c1c;
            transform: rotate(-3deg);
            transform-origin: bottom left;
            height: 100%;
            width: 110%;
        }
    }
    &.grey {
        &:before {
            background: #ccc;
            height: 100%;
            width: 110%;
            transform-origin: bottom right;
            transform: rotate(1deg);
        }
        &:after {
            background: #717171;
            transform: rotate(-3deg);
            transform-origin: bottom left;
            height: 100%;
            width: 110%;
        }
    }
}

.badge-promo-content {
    position: relative;
    font-weight: 300;
    z-index: 1;
    font-size: 20px
}

.dcSection {
    box-shadow: none;
    -webkit-box-shadow: none;
    float: left;
    background: #fff;
    border: 1px solid #dedcdc;
    .sectionTitle {
        padding: 10px;
        font-size: 20px;
        font-weight: 300;
    }
    .sectionSubtitle {
        margin: 5px 0;
        padding: 10px 0 7px;
        background: #efefef;
        p {
            width: 100%;
            text-align: center;
        }
    }
    .sectionContent {
        padding: 2px 10px 10px;
        &.big {
            padding-top: 15px;
        }
        ion-row {
            &.odd {
                background: #f1f1f1;
            }
        }
        button.cta {
            float: right;
            font-size: 13px;
            text-transform: uppercase;
        }
    }
}

.dcList {
    .dcListItem {
        margin-bottom: 5px;
        background: #f3f3f3;
        padding: 7px;
        font-size: 18px;
        font-weight: 300;
    }
}

ion-label {
    font-weight: 300;
    text-transform: capitalize;
}


/* END 2019 CSS */

.landscapeGame {
    height: 100%;
}

.list-ios {
    margin: -1px 0 15px;
}

.landscapeGame .halfSection {
    width: 50%;
    height: 100%;
    float: left;
}

.back-button-text-md {
    display: none;
}

button.item .item-inner {
    border: none!important;
}

.positive {
    color: #4cb914;
}

.negative {
    color: red;
}

.headItem {
    background: #444;
    .label {
        margin: 7px 8px 7px 0 !important;
    }
    h2 {
        color: #fff;
    }
}

.bottomItem {
    border-top: 1px solid #ccc;
}

.historyTitle {
    margin: 0;
    padding: 15px;
    font-weight: 300;
    font-size: 20px;
}

.subtitle {
    margin: 10px 0;
    padding: 5px 0;
    font-size: 18px;
    font-weight: 300px;
}

.players-1 .throwing {
    color: #ff6600;
    margin-left: 10px;
    font-size: 26px;
    line-height: 38px;
}

.players-2 .throwing {
    color: #ff6600;
    margin-left: 10px;
    line-height: 28px;
    font-size: 24px;
}

.throwingRow {
    background: #ff6600;
}

.flag {
    border-radius: 5px!important;
}

.bar-buttons .bar-button {
    padding: 10px;
}

.md .top56px {
    margin-top: 56px!important;
}

.ios .top56px {
    margin-top: 43px!important;
}

.ios .item-button {
    padding: 2px 6px!important;
}

.relative {
    position: relative;
}

.right {
    float: right!important;
}

.noMargin {
    margin: 0px!important;
}

.noPadding {
    padding: 0px!important;
}

.noInnerMargin .item-inner,
.noInnerMargin .label {
    margin: 0px!important;
}

.no-reorder ion-reorder {
    display: none;
}

.overview {
    width: 50%;
    float: left;
}

.overview:not(:last-child) {
    border-right: 1px solid white;
}

.overview.noBorder {
    border: none!important;
}

.overview.leftBorder {
    border-left: 1px solid #ffffff;
}

.overview.last {
    width: 49%;
    overflow: hidden;
    float: right;
}

.bold {
    font-weight: bold;
}

.score {
    font-size: 360%;
    font-weight: bold;
    height: 60px;
    margin-top: -9px;
}

.gamedetail.first {
    font-size: 12pt;
    font-weight: bold;
    padding: 4px 0;
    color: #3d3d3d;
    margin-top: 3px;
    border-top: 1px solid #9D9D9D;
    border-bottom: 1px solid #9D9D9D;
}

.gamedetail.secondary {
    font-size: 12pt;
    font-weight: bold;
    padding: 4px 0;
    color: #3d3d3d;
    border-bottom: 1px solid #9D9D9D;
}

.gamedetail {
    padding: 3px 0;
    margin-top: 0px;
    border-top: none;
}

.throwout {
    font-size: 13pt;
    font-weight: bold;
    color: #C75305;
}

.playerRow {
    background: #444;
    padding: 0;
    .wrapperCol:not(:last-child) {
        border-right: 1px solid #828282;
    }
}

.row.players-1 .col {
    font-size: 18px;
    line-height: 28px;
    color: #fff;
}

.row.players-2 .col {
    font-size: 100%;
    color: #fff;
}

.row.players-2:first-child {
    border-bottom: 1px solid #828282;
}

.row.singlePlayer {
    background: #444;
    color: #fff;
    border-bottom: 1px solid #fff;
}

.alignBottom {
    position: absolute;
    width: 100%;
    padding: 0 5px;
    bottom: 0px;
}

.elipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.keyboard {
    background: #444;
    padding: 0;
    .row {
        padding: 0;
    }
    ion-input {
        .text-input {
            margin: 5px 0;
        }
        font-size: 30px;
        background: #fff;
    }
    .iconButton {
        margin: 6px auto 0;
        display: block;
    }
}


/* BLACK KEYBOARD */

ion-numeric-keyboard.black-keyboard {
    ion-row ion-col.key {
        background-color: #333 !important;
        border-color: #444 !important;
        button {
            color: #fefefe !important;
        }
    }
    ion-row.ion-numeric-keyboard-top-bar,
    ion-row.ion-numeric-keyboard-top-bar ion-col.top-bar-key,
    ion-row ion-col.key.control-key {
        background-color: #242424 !important;
    }
}


/* END BLACK KEYBOARD */


/* FLAT KEYBOARD */


/* here is how you can remove the border around the keys */

ion-numeric-keyboard.flat-keyboard {
    ion-row ion-col.key {
        border: none !important;
    }
    ion-grid,
    ion-row.ion-numeric-keyboard-top-bar,
    ion-row.ion-numeric-keyboard-top-bar ion-col.top-bar-key,
    ion-row ion-col.key.key.control-key {
        background-color: #fff !important;
    }
}


/* END FLAT KEYBOARD */

ion-backdrop {
    opacity: 0.7!important;
}

.loading-md .loading-wrapper {
    color: #fff!important;
    background: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.cssload-container {
    width: 72px;
    margin: 58px auto;
    font-size: 0;
    position: relative;
    transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    animation: cssload-clockwise 3s linear infinite;
    -o-animation: cssload-clockwise 3s linear infinite;
    -ms-animation: cssload-clockwise 3s linear infinite;
    -webkit-animation: cssload-clockwise 3s linear infinite;
    -moz-animation: cssload-clockwise 3s linear infinite;
}

.cssload-container:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 39px;
    height: 39px;
    border: 6px solid rgb(229, 229, 229);
    border-radius: 100%;
    -o-border-radius: 100%;
    -ms-border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.cssload-container:after {
    position: absolute;
    content: '';
    z-index: -1;
    top: 0;
    right: 0;
    width: 39px;
    height: 39px;
    border: 6px solid rgb(229, 229, 229);
    border-radius: 100%;
    -o-border-radius: 100%;
    -ms-border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.cssload-lt,
.cssload-rt,
.cssload-lb,
.cssload-rb {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 39px;
    height: 19px;
    opacity: 1;
}

.cssload-lt:before,
.cssload-rt:before,
.cssload-lb:before,
.cssload-rb:before {
    position: absolute;
    content: '';
    width: 39px;
    height: 39px;
    border-top: 6px solid rgb(255, 102, 0);
    border-right: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 6px solid transparent;
    border-radius: 100%;
    -o-border-radius: 100%;
    -ms-border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.cssload-lt {
    margin-right: -6px;
    animation: cssload-lt 1s linear -1000ms infinite;
    -o-animation: cssload-lt 1s linear -1000ms infinite;
    -ms-animation: cssload-lt 1s linear -1000ms infinite;
    -webkit-animation: cssload-lt 1s linear -1000ms infinite;
    -moz-animation: cssload-lt 1s linear -1000ms infinite;
}

.cssload-lt:before {
    top: 0;
    left: 0;
    animation: cssload-not-clockwise 0.5s linear infinite;
    -o-animation: cssload-not-clockwise 0.5s linear infinite;
    -ms-animation: cssload-not-clockwise 0.5s linear infinite;
    -webkit-animation: cssload-not-clockwise 0.5s linear infinite;
    -moz-animation: cssload-not-clockwise 0.5s linear infinite;
}

.cssload-rt {
    animation: cssload-lt 1s linear -500ms infinite;
    -o-animation: cssload-lt 1s linear -500ms infinite;
    -ms-animation: cssload-lt 1s linear -500ms infinite;
    -webkit-animation: cssload-lt 1s linear -500ms infinite;
    -moz-animation: cssload-lt 1s linear -500ms infinite;
}

.cssload-rt:before {
    top: 0;
    right: 0;
    animation: cssload-clockwise 0.5s linear infinite;
    -o-animation: cssload-clockwise 0.5s linear infinite;
    -ms-animation: cssload-clockwise 0.5s linear infinite;
    -webkit-animation: cssload-clockwise 0.5s linear infinite;
    -moz-animation: cssload-clockwise 0.5s linear infinite;
}

.cssload-lb {
    margin-right: -6px;
    animation: cssload-lt 1s linear -750ms infinite;
    -o-animation: cssload-lt 1s linear -750ms infinite;
    -ms-animation: cssload-lt 1s linear -750ms infinite;
    -webkit-animation: cssload-lt 1s linear -750ms infinite;
    -moz-animation: cssload-lt 1s linear -750ms infinite;
}

.cssload-lb:before {
    bottom: 0;
    left: 0;
    animation: cssload-not-clockwise 0.5s linear infinite;
    -o-animation: cssload-not-clockwise 0.5s linear infinite;
    -ms-animation: cssload-not-clockwise 0.5s linear infinite;
    -webkit-animation: cssload-not-clockwise 0.5s linear infinite;
    -moz-animation: cssload-not-clockwise 0.5s linear infinite;
}

.cssload-rb {
    animation: cssload-lt 1s linear -250ms infinite;
    -o-animation: cssload-lt 1s linear -250ms infinite;
    -ms-animation: cssload-lt 1s linear -250ms infinite;
    -webkit-animation: cssload-lt 1s linear -250ms infinite;
    -moz-animation: cssload-lt 1s linear -250ms infinite;
}

.cssload-rb:before {
    bottom: 0;
    right: 0;
    animation: cssload-clockwise 0.5s linear infinite;
    -o-animation: cssload-clockwise 0.5s linear infinite;
    -ms-animation: cssload-clockwise 0.5s linear infinite;
    -webkit-animation: cssload-clockwise 0.5s linear infinite;
    -moz-animation: cssload-clockwise 0.5s linear infinite;
}

@keyframes cssload-clockwise {
    0% {
        transform: rotate(-45deg);
    }
    100% {
        transform: rotate(315deg);
    }
}

@-o-keyframes cssload-clockwise {
    0% {
        -o-transform: rotate(-45deg);
    }
    100% {
        -o-transform: rotate(315deg);
    }
}

@-ms-keyframes cssload-clockwise {
    0% {
        -ms-transform: rotate(-45deg);
    }
    100% {
        -ms-transform: rotate(315deg);
    }
}

@-webkit-keyframes cssload-clockwise {
    0% {
        -webkit-transform: rotate(-45deg);
    }
    100% {
        -webkit-transform: rotate(315deg);
    }
}

@-moz-keyframes cssload-clockwise {
    0% {
        -moz-transform: rotate(-45deg);
    }
    100% {
        -moz-transform: rotate(315deg);
    }
}

@keyframes cssload-not-clockwise {
    0% {
        transform: rotate(45deg);
    }
    100% {
        transform: rotate(-315deg);
    }
}

@-o-keyframes cssload-not-clockwise {
    0% {
        -o-transform: rotate(45deg);
    }
    100% {
        -o-transform: rotate(-315deg);
    }
}

@-ms-keyframes cssload-not-clockwise {
    0% {
        -ms-transform: rotate(45deg);
    }
    100% {
        -ms-transform: rotate(-315deg);
    }
}

@-webkit-keyframes cssload-not-clockwise {
    0% {
        -webkit-transform: rotate(45deg);
    }
    100% {
        -webkit-transform: rotate(-315deg);
    }
}

@-moz-keyframes cssload-not-clockwise {
    0% {
        -moz-transform: rotate(45deg);
    }
    100% {
        -moz-transform: rotate(-315deg);
    }
}

@keyframes cssload-lt {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 1;
    }
    26% {
        opacity: 0;
    }
    75% {
        opacity: 0;
    }
    76% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes cssload-lt {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 1;
    }
    26% {
        opacity: 0;
    }
    75% {
        opacity: 0;
    }
    76% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes cssload-lt {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 1;
    }
    26% {
        opacity: 0;
    }
    75% {
        opacity: 0;
    }
    76% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes cssload-lt {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 1;
    }
    26% {
        opacity: 0;
    }
    75% {
        opacity: 0;
    }
    76% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes cssload-lt {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 1;
    }
    26% {
        opacity: 0;
    }
    75% {
        opacity: 0;
    }
    76% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

//Dartbot loading
.cssload-loader-walk {
    width: 97px;
    height: 39px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
}

.cssload-loader-walk>div {
    content: "";
    width: 19px;
    height: 19px;
    background: rgb(255, 102, 0);
    border-radius: 100%;
    position: absolute;
    animation: cssload-animate 3.2s linear infinite;
    -o-animation: cssload-animate 3.2s linear infinite;
    -ms-animation: cssload-animate 3.2s linear infinite;
    -webkit-animation: cssload-animate 3.2s linear infinite;
    -moz-animation: cssload-animate 3.2s linear infinite;
}

.cssload-loader-walk>div:nth-of-type(1) {
    animation-delay: -0.64s;
    -o-animation-delay: -0.64s;
    -ms-animation-delay: -0.64s;
    -webkit-animation-delay: -0.64s;
    -moz-animation-delay: -0.64s;
}

.cssload-loader-walk>div:nth-of-type(2) {
    animation-delay: -1.28s;
    -o-animation-delay: -1.28s;
    -ms-animation-delay: -1.28s;
    -webkit-animation-delay: -1.28s;
    -moz-animation-delay: -1.28s;
}

.cssload-loader-walk>div:nth-of-type(3) {
    animation-delay: -1.92s;
    -o-animation-delay: -1.92s;
    -ms-animation-delay: -1.92s;
    -webkit-animation-delay: -1.92s;
    -moz-animation-delay: -1.92s;
}

.cssload-loader-walk>div:nth-of-type(4) {
    animation-delay: -2.56s;
    -o-animation-delay: -2.56s;
    -ms-animation-delay: -2.56s;
    -webkit-animation-delay: -2.56s;
    -moz-animation-delay: -2.56s;
}

@keyframes cssload-animate {
    0% {
        left: 97px;
        top: 0;
    }
    80% {
        left: 0;
        top: 0;
    }
    85% {
        left: 0;
        top: -19px;
        width: 19px;
        height: 19px;
    }
    90% {
        width: 39px;
        height: 15px;
    }
    95% {
        left: 97px;
        top: -19px;
        width: 19px;
        height: 19px;
    }
    100% {
        left: 97px;
        top: 0;
    }
}

@-o-keyframes cssload-animate {
    0% {
        left: 97px;
        top: 0;
    }
    80% {
        left: 0;
        top: 0;
    }
    85% {
        left: 0;
        top: -19px;
        width: 19px;
        height: 19px;
    }
    90% {
        width: 39px;
        height: 15px;
    }
    95% {
        left: 97px;
        top: -19px;
        width: 19px;
        height: 19px;
    }
    100% {
        left: 97px;
        top: 0;
    }
}

@-ms-keyframes cssload-animate {
    0% {
        left: 97px;
        top: 0;
    }
    80% {
        left: 0;
        top: 0;
    }
    85% {
        left: 0;
        top: -19px;
        width: 19px;
        height: 19px;
    }
    90% {
        width: 39px;
        height: 15px;
    }
    95% {
        left: 97px;
        top: -19px;
        width: 19px;
        height: 19px;
    }
    100% {
        left: 97px;
        top: 0;
    }
}

@-webkit-keyframes cssload-animate {
    0% {
        left: 97px;
        top: 0;
    }
    80% {
        left: 0;
        top: 0;
    }
    85% {
        left: 0;
        top: -19px;
        width: 19px;
        height: 19px;
    }
    90% {
        width: 39px;
        height: 15px;
    }
    95% {
        left: 97px;
        top: -19px;
        width: 19px;
        height: 19px;
    }
    100% {
        left: 97px;
        top: 0;
    }
}

@-moz-keyframes cssload-animate {
    0% {
        left: 97px;
        top: 0;
    }
    80% {
        left: 0;
        top: 0;
    }
    85% {
        left: 0;
        top: -19px;
        width: 19px;
        height: 19px;
    }
    90% {
        width: 39px;
        height: 15px;
    }
    95% {
        left: 97px;
        top: -19px;
        width: 19px;
        height: 19px;
    }
    100% {
        left: 97px;
        top: 0;
    }
}

// END Dartbot loading
ion-toast.success .toast-wrapper {
    background: green;
}

ion-toast.error .toast-wrapper {
    background: rgb(209, 71, 71);
}

.sk-circle {
    margin: 100px auto;
    width: 40px;
    height: 40px;
    position: relative;
}

.sk-circle .sk-child {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.sk-circle .sk-child:before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 15%;
    height: 15%;
    background-color: #333;
    border-radius: 100%;
    -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
    animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
}

.sk-circle .sk-circle2 {
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg);
}

.sk-circle .sk-circle3 {
    -webkit-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    transform: rotate(60deg);
}

.sk-circle .sk-circle4 {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.sk-circle .sk-circle5 {
    -webkit-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    transform: rotate(120deg);
}

.sk-circle .sk-circle6 {
    -webkit-transform: rotate(150deg);
    -ms-transform: rotate(150deg);
    transform: rotate(150deg);
}

.sk-circle .sk-circle7 {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.sk-circle .sk-circle8 {
    -webkit-transform: rotate(210deg);
    -ms-transform: rotate(210deg);
    transform: rotate(210deg);
}

.sk-circle .sk-circle9 {
    -webkit-transform: rotate(240deg);
    -ms-transform: rotate(240deg);
    transform: rotate(240deg);
}

.sk-circle .sk-circle10 {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

.sk-circle .sk-circle11 {
    -webkit-transform: rotate(300deg);
    -ms-transform: rotate(300deg);
    transform: rotate(300deg);
}

.sk-circle .sk-circle12 {
    -webkit-transform: rotate(330deg);
    -ms-transform: rotate(330deg);
    transform: rotate(330deg);
}

.sk-circle .sk-circle2:before {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.sk-circle .sk-circle3:before {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
}

.sk-circle .sk-circle4:before {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.sk-circle .sk-circle5:before {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

.sk-circle .sk-circle6:before {
    -webkit-animation-delay: -0.7s;
    animation-delay: -0.7s;
}

.sk-circle .sk-circle7:before {
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
}

.sk-circle .sk-circle8:before {
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
}

.sk-circle .sk-circle9:before {
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;
}

.sk-circle .sk-circle10:before {
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s;
}

.sk-circle .sk-circle11:before {
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s;
}

.sk-circle .sk-circle12:before {
    -webkit-animation-delay: -0.1s;
    animation-delay: -0.1s;
}

@-webkit-keyframes sk-circleBounceDelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes sk-circleBounceDelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}