<ion-header>
    <ion-navbar color="dcOrange">
        <ion-title>{{title | translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>

    <ion-card class="dcSection">
        <div class="sectionTitle" text-center>
            {{item.Game.Name | translate}}
        </div>
        <ion-row class="sectionSubtitle">
            <p>{{item.Game.CreatedDate| date : 'dd-MMM-yyyy H:mm'}}</p>
        </ion-row>
        <div class="sectionContent">
            <ion-row class="dataRow">
                <ion-col>
                    {{'checkout rate' | translate}}
                </ion-col>
                <ion-col>
                    {{ (item.Turns.length / item.Player.TotalScore) *100 | number:'1.0-2'}}%
                </ion-col>
            </ion-row>
            <ion-row class="dataRow odd">
                <ion-col>
                    {{'total darts' | translate}}
                </ion-col>
                <ion-col>
                    {{item.Player.TotalScore}}
                </ion-col>
            </ion-row>
        </div>
    </ion-card>

    <ion-card class="dcSection">
        <div class="sectionTitle" text-center>
            {{'scores' | translate}}
        </div>
        <div class="sectionContent">
            <div class="statisticList">
                <ion-row class="statisticItem" *ngFor="let turn of item.Turns; let isOdd = odd; let isEven = even" [class.odd]="isOdd" [class.even]="isEven">
                    <ion-col>
                        <span translate>double</span>
                        <span *ngIf="turn.Remaining == 25">BULL</span>
                        <span *ngIf="turn.Remaining != 25">{{turn.Remaining}}</span>
                    </ion-col>
                    <ion-col>
                        <span translate>darts needed</span>: {{turn.DartsThrown}}
                    </ion-col>
                </ion-row>
            </div>
        </div>
    </ion-card>

    <p text-center translate>game ended</p>

</ion-content>