<ion-header>
    <ion-navbar color="dcOrange">
        <ion-title>{{title | translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-card class="dcSection">
        <div class="sectionTitle" text-center>
            {{item.Game.Name | translate}}
        </div>
        <ion-row class="sectionSubtitle">
            <p>{{item.Game.CreatedDate| date : 'dd-MMM-yyyy H:mm'}}</p>
        </ion-row>
        <div class="sectionContent">
            <ion-row class="dataRow">
                <ion-col>
                    {{'total score' | translate}}
                </ion-col>
                <ion-col>
                    {{item.Player.TotalScore}}
                </ion-col>
            </ion-row>
        </div>
    </ion-card>

    <ion-card class="dcSection">
        <div class="sectionTitle" text-center>
            {{'scores' | translate}}
        </div>
        <div class="sectionContent">
            <div class="statisticList">
                <ion-row class="statisticItem" *ngFor="let turn of item.Turns; let i = index; let isOdd = odd; let isEven = even" [class.odd]="isOdd" [class.even]="isEven">
                    <ion-col><span translate>number</span>: {{turn.Remaining}}</ion-col>
                    <ion-col>
                        <span translate>hits</span>:
                        <span [ngClass]="{'positive': turn.DartsThrown > 0, 'negative' : turn.DartsThrown == 0 }">
              {{turn.DartsThrown}}
            </span>
                    </ion-col>
                </ion-row>
            </div>
        </div>
    </ion-card>

</ion-content>