<form (ngSubmit)="TryRegistration()" class="loginForm" #registerForm="ngForm">
    <ion-row>
        <ion-col>
            <ion-list>
                <ion-item>
                    <ion-input type="text" placeholder="{{'firstname' | translate}}" name="firstname" [(ngModel)]="FirstName" required></ion-input>
                </ion-item>

                <ion-item>
                    <ion-input type="text" placeholder="{{'lastname' | translate}}" name="lastname" [(ngModel)]="LastName" required></ion-input>
                </ion-item>

                <ion-item>
                    <ion-input type="text" placeholder="{{'username' | translate}}" name="username" [(ngModel)]="Username" required></ion-input>
                </ion-item>

                <ion-item>
                    <ion-input type="email" placeholder="{{'email' | translate}}" name="email" [(ngModel)]="Email" required></ion-input>
                </ion-item>

                <ion-item>
                    <ion-input type="password" placeholder="{{'password' | translate}}" name="password" [(ngModel)]="Password" required></ion-input>
                </ion-item>
            </ion-list>
        </ion-col>
    </ion-row>

    <ion-row>
        <ion-col>
            <button ion-button class="submit-btn" full type="submit" [disabled]="!registerForm.form.valid">{{'register' | translate}}</button>
        </ion-col>
    </ion-row>
</form>