<ion-header>
    <ion-navbar>
        <ion-title>{{title | translate}}</ion-title>
    </ion-navbar>
</ion-header>


<ion-content>

    <!-- sound switch -->
    <ion-list>
        <ion-list-header>
            {{'sound settings' | translate}}
        </ion-list-header>
        <ion-item>
            <ion-icon name="volume-up" item-left></ion-icon>
            <ion-label>Mastercaller Ray Martin</ion-label>
            <ion-toggle color="dcOrange" [(ngModel)]="preferenceService.Preferences.allowCaller" (ionChange)="preferenceService.UpdatePreferences()" item-right></ion-toggle>
        </ion-item>
    </ion-list>
    <!-- end of sound switch -->

    <ion-list radio-group [(ngModel)]="preferenceService.Preferences.lang" (ionChange)="LanguageChanged()">
        <ion-list-header>
            {{'languages' | translate}}
        </ion-list-header>
        <ion-item>
            <ion-avatar item-left>
                <img class="flag" src="assets/images/flags/en.png">
            </ion-avatar>
            <ion-label>English</ion-label>
            <ion-radio value="en"></ion-radio>
        </ion-item>
        <ion-item>
            <ion-avatar item-left>
                <img class="flag" src="assets/images/flags/nl.png">
            </ion-avatar>
            <ion-label>Nederlands</ion-label>
            <ion-radio value="nl"></ion-radio>
        </ion-item>
        <ion-item>
            <ion-avatar item-left>
                <img class="flag" src="assets/images/flags/de.png">
            </ion-avatar>
            <ion-label>Deutsch</ion-label>
            <ion-radio value="de"></ion-radio>
        </ion-item>
    </ion-list>

    <h4 text-center>{{'terms' | translate}}</h4>
    <button ion-button full outline (click)="OpenAgreementDialog()">{{'agreement' | translate}}</button>

    <button ion-button full outline (click)="OpenPolicyDialog()">{{'privacy policy' | translate}}</button>

</ion-content>