page-app-settings {
    ion-content {
        background-color: #ccc!important;
    }
    .item-md.list-header {
        background-color: #ccc!important;
        color: #444;
        margin: 0;
        border: 0;
    }
}