<ion-header>

    <ion-navbar>
        <ion-title>{{'finish account' | translate}}</ion-title>
    </ion-navbar>

</ion-header>

<ion-content>
    <ion-list radio-group [(ngModel)]="link" class="noMargin">
        <ion-item>
            <ion-label>{{'link existing account' | translate}}</ion-label>
            <ion-radio value="existing"></ion-radio>
        </ion-item>
    </ion-list>
    <form *ngIf="link == 'existing'" (ngSubmit)="LinkExistingToFacebook()" class="loginForm" #loginForm="ngForm">
        <ion-row>
            <ion-col text-center>
                <span translate>your dartcounter account will be linked to your facebook login</span>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-list>
                    <ion-item>
                        <ion-input type="text" placeholder="{{'username' | translate}}" name="username" [(ngModel)]="Username" required></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-input type="password" placeholder="{{'password' | translate}}" name="Password" [(ngModel)]="Password" required></ion-input>
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col class="signup-col">
                <button ion-button class="submit-btn" full type="submit" [disabled]="!loginForm.form.valid">{{'link' | translate}}</button>
            </ion-col>
        </ion-row>
    </form>

    <ion-list radio-group [(ngModel)]="link" class="noMargin">
        <ion-item>
            <ion-label>{{'new account' | translate}}</ion-label>
            <ion-radio value="new"></ion-radio>
        </ion-item>
    </ion-list>
    <form *ngIf="link == 'new'" (ngSubmit)="AddLoginToAccount()" class="newAccountForm" #newAccountForm="ngForm">
        <ion-row>
            <ion-col text-center>
                <span translate>choose a username and password for your account</span>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-list>
                    <ion-item>
                        <ion-input type="text" placeholder="{{'username' | translate}}" name="username" [(ngModel)]="Username" required></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-input type="password" placeholder="{{'password' | translate}}" name="Password" [(ngModel)]="Password" required></ion-input>
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col class="signup-col">
                <button ion-button class="submit-btn" full type="submit" [disabled]="!newAccountForm.form.valid">{{'save' | translate}}</button>
            </ion-col>
        </ion-row>
    </form>

</ion-content>