<ion-header>

    <ion-navbar color="dcOrange">
        <ion-buttons end>
            <button ion-button icon-only (click)="DismissModal()">
                    <ion-icon item-right name="close"></ion-icon>
                </button>
        </ion-buttons>
        <ion-title>{{'statistics' | translate}}</ion-title>
    </ion-navbar>

</ion-header>

<ion-content padding>

    <ion-card *ngIf="auth.userData && auth.userData?.isUltimate != '1' && auth.userData?.isAdmin != '1'" class="fade-in-left-item proCard" (click)="OpenUltimateSubscriptionDialog()">
        <ion-card-header>
            {{'become ultimate member' | translate}}
            <ion-icon name="arrow-forward" style="float:right"></ion-icon>
        </ion-card-header>
        <ion-card-content padding>
            {{'support us and become ultimate' | translate}}
            <br/> {{'exclusive access to features' | translate}}
        </ion-card-content>
    </ion-card>

    <ion-card *ngIf="!auth.userData" class="fade-in-left-item proCard" (click)="ShowLogin()">
        <ion-card-header>
            {{'login or create title' | translate}}
            <ion-icon name="arrow-forward" style="float:right"></ion-icon>
        </ion-card-header>
        <ion-card-content padding>
            {{'login for more statistics' | translate}}
        </ion-card-content>
    </ion-card>

    <ion-title text-center class="subtitle" style="margin:0px">
        {{title | translate}}
    </ion-title>

    <ion-row style="font-size: 1.8rem;">
        <ion-col translate>players</ion-col>
        <ion-col *ngFor="let team of teams">
            <span *ngIf="team.players.length == 1">{{team.players[0]?.name || ("no name" | translate) }}</span>
            <span *ngIf="team.players.length > 1">{{team.players[0]?.name || ("no name" | translate) }}, {{team.players[1]?.name || ("no name" | translate) }}</span>
        </ion-col>
    </ion-row>
    <ion-row style="font-size: 1.8rem;">
        <ion-col translate>total</ion-col>
        <ion-col *ngFor="let team of teams">
            <span>{{team.total}}</span>
        </ion-col>
    </ion-row>

    <ion-title text-center class="subtitle">
        {{'averages' | translate}}
    </ion-title>
    <ion-row>
        <ion-col translate>average</ion-col>
        <ion-col *ngFor="let team of teams">
            {{((team.totalPoints/team.dartsThrown)*3) || 0 | number:'1.2-2' }}
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col translate>first 9 average</ion-col>
        <ion-col *ngFor="let team of teams">
            {{((team.first9Points/team.first9Thrown)*3) || 0 | number:'1.2-2' }}
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col translate>highest score</ion-col>
        <ion-col *ngFor="let team of teams">
            {{team.highestScore || '-'}}
        </ion-col>
    </ion-row>

    <ion-title text-center class="subtitle">
        {{'checkouts' | translate}}
    </ion-title>
    <ion-row *ngIf="checkoutRate">
        <ion-col translate>checkout rate</ion-col>
        <ion-col *ngFor="let team of teams">
            {{ (team.legsWon/team.legDarts)*100 || 0 | number:'1.2-2'}}%
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col translate>average darts leg</ion-col>
        <ion-col *ngFor="let team of teams">
            {{(team.avgDarts| number:'1.0-2') || '-'}}
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col translate>best leg</ion-col>
        <ion-col *ngFor="let team of teams">
            {{team.bestLeg || "-"}} <span translate *ngIf="team.bestLeg">darts</span>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col translate>worst leg</ion-col>
        <ion-col *ngFor="let team of teams">
            {{team.worstLeg || "-"}} <span translate *ngIf="team.worstLeg">darts</span>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col translate>highest finish</ion-col>
        <ion-col *ngFor="let team of teams">
            {{team.highestOut || '-'}}
        </ion-col>
    </ion-row>

    <ion-title text-center class="subtitle">
        {{'scores' | translate}}
    </ion-title>
    <ion-row *ngFor="let scoring of scorings">
        <ion-col>{{scoring.title}}</ion-col>
        <ion-col *ngFor="let value of scoring.values">
            {{value || 0}}
        </ion-col>
    </ion-row>
</ion-content>