dialog-match-statistics {
    .proCard {
        ion-card-header {
            background-color: #ff6600;
            font-weight: bold;
            color: white;
        }
        ion-card-content {
            background: #4a4a4a;
            background-image: url(../assets/images/climpek.png);
            color: #fff;
            text-shadow: 1px 1px #000;
        }
    }
}