<ion-header>

    <ion-navbar color="dcOrange">
        <ion-buttons end>
            <button ion-button icon-only (click)="DismissModal()">
                    <ion-icon item-right name="close"></ion-icon>
                </button>
        </ion-buttons>
        <ion-title>{{'final score' | translate}}</ion-title>
    </ion-navbar>

</ion-header>

<ion-content padding>
    <h4 text-center *ngIf="statistics" translate>game overview</h4>

    <div *ngIf="teams">
        <ion-row style="font-size: 1.8rem;">
            <ion-col translate>players</ion-col>
            <ion-col *ngFor="let team of teams">
                <span *ngIf="team.players.length == 1">{{team.players[0]?.name || ("no name" | translate) }}</span>
                <span *ngIf="team.players.length > 1">{{team.players[0]?.name || ("no name" | translate) }}, {{team.players[1]?.name || ("no name" | translate) }}</span>
            </ion-col>
        </ion-row>
    </div>

    <div *ngIf="!teams">
        <ion-row style="font-size: 1.8rem;">
            <ion-col translate>players</ion-col>
            <ion-col *ngFor="let player of players">
                <span>{{player.name}}</span>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="!ignoreTotal">
            <ion-col translate>total</ion-col>
            <ion-col *ngFor="let player of players">
                {{player.total}}
            </ion-col>
        </ion-row>
    </div>

    <ion-row *ngFor="let statistic of statistics">
        <ion-col translate>{{statistic.title | translate}}</ion-col>
        <ion-col *ngFor="let value of statistic.values">
            <span *ngIf="!statistic.format">
                {{value}}                    
            </span>
            <span *ngIf="statistic.format == 'number'">
                {{value | number:'1.2-2' || 0}}                    
            </span>
            <span *ngIf="statistic.format == 'percentage'">
                {{value | number:'1.2-2' || 0}} %                    
            </span>
        </ion-col>
    </ion-row>
</ion-content>