<ion-header>
    <ion-navbar color="dcOrange">
        <ion-title>{{title | translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>

    <ion-card class="dcSection">
        <div class="sectionTitle" text-center>
            {{item.Name | translate}}
        </div>
        <ion-row class="sectionSubtitle">
            <p>{{item.CreatedDate| date : 'dd-MMM-yyyy H:mm'}}</p>
        </ion-row>
        <div class="sectionContent">
            <ion-row class="dataRow">
                <ion-col>
                    {{'startscore' | translate}}
                </ion-col>
                <ion-col>
                    {{item.StartScore}}
                </ion-col>
            </ion-row>
        </div>
    </ion-card>

    <ion-card class="dcSection">
        <div class="sectionContent">
            <ion-row class="dataRow">
                <ion-col>
                    {{'players' | translate}}
                </ion-col>
                <ion-col *ngFor="let team of teams" text-center>
                    {{GetPlayers(team)}}
                    <ion-icon *ngIf="team.hasWon == '1'" style="font-size:18px" name="trophy" color="dcOrange"></ion-icon>
                </ion-col>
            </ion-row>
            <ion-row class="dataRow odd">
                <ion-col>
                    {{'total' | translate}}
                </ion-col>
                <ion-col *ngFor="let team of teams" text-center>
                    <span>{{team.TotalScore}}</span>
                </ion-col>
            </ion-row>
        </div>
    </ion-card>

    <ion-card class="dcSection">
        <div class="sectionTitle" text-center>
            {{'statistics' | translate}}
        </div>
        <div class="sectionContent">
            <div class="statisticList">
                <ion-row class="statisticItem big">
                    <ion-col></ion-col>
                    <ion-col *ngFor="let team of teams" text-center>
                        {{GetPlayers(team)}}
                        <ion-icon *ngIf="team.hasWon == '1'" style="font-size:18px" name="trophy" color="dcOrange"></ion-icon>
                    </ion-col>
                </ion-row>
                <ion-row class="statisticItem">
                    <ion-col>{{'average' | translate}}</ion-col>
                    <ion-col *ngFor="let team of teams" text-center>
                        {{team.Average | number: '1.0-2' }}
                    </ion-col>
                </ion-row>
                <ion-row class="statisticItem" *ngIf="item.hasCheckoutRate">
                    <ion-col>{{'checkout rate' | translate}}</ion-col>
                    <ion-col *ngFor="let team of teams" text-center>
                        {{team.CheckoutRate | number: '1.0-2' }}%
                    </ion-col>
                </ion-row>
                <ion-row class="statisticItem">
                    <ion-col>{{'highest finish' | translate}}</ion-col>
                    <ion-col *ngFor="let team of teams" text-center>
                        {{team.HighestFinish }}
                    </ion-col>
                </ion-row>
                <ion-row class="statisticItem">
                    <ion-col>{{'highest score' | translate}}</ion-col>
                    <ion-col *ngFor="let team of teams" text-center>
                        {{team.HighestScore }}
                    </ion-col>
                </ion-row>
            </div>
        </div>
    </ion-card>
</ion-content>