.ion-numeric-keyboard,
.ion-numeric-keyboard ion-row,
.ion-numeric-keyboard ion-row ion-col.key,
.ion-numeric-keyboard ion-row ion-col.key button {
    padding: 0;
    margin: 0;
}

.ion-numeric-keyboard ion-row {
    height: 45px;
}

.ion-numeric-keyboard ion-row.ion-numeric-keyboard-top-bar,
.ion-numeric-keyboard ion-row.ion-numeric-keyboard-top-bar ion-col.top-bar-key,
.ion-numeric-keyboard ion-row ion-col.key.control-key {
    background-color: #fafafa;
}

.ion-numeric-keyboard ion-row.ion-numeric-keyboard-top-bar {
    border-bottom: 1px solid #eee;
}

.ion-numeric-keyboard ion-row.ion-numeric-keyboard-top-bar ion-col.top-bar-key {
    border: none;
}

.ion-numeric-keyboard ion-row ion-col.key {
    border: 0;
    border-style: solid;
    border-color: #eee;
    background-color: #fff;
}

.ion-numeric-keyboard ion-row:nth-child(1) ion-col.key {
    border-top-width: 1px;
}

.ion-numeric-keyboard ion-row:nth-child(1) ion-col.key,
.ion-numeric-keyboard ion-row:nth-child(2) ion-col.key,
.ion-numeric-keyboard ion-row:nth-child(3) ion-col.key,
.ion-numeric-keyboard ion-row:nth-child(4) ion-col.key {
    border-bottom-width: 1px;
}

.ion-numeric-keyboard ion-row ion-col.key:nth-child(1),
.ion-numeric-keyboard ion-row ion-col.key:nth-child(2) {
    border-right-width: 1px;
}

.ion-numeric-keyboard ion-row ion-col.key button {
    height: 45px;
    font-size: 140%;
    color: #5995dc;
}

.ion-numeric-keyboard ion-row ion-col.key.top-bar-key button {
    font-size: 100%;
}

.ion-numeric-keyboard-container {
    position: relative;
    height: 0;
    visibility: visible;
    padding: 0;
    min-height: 0;
    transition: all 250ms ease;
}

.ion-numeric-keyboard-container.visible.has-top-bar,
.ion-numeric-keyboard-container.visible {
    height: auto;
    visibility: visible;
    transition: all 250ms ease;
}

.ion-numeric-keyboard-container.visible.has-top-bar {
    height: 225px;
}

.ion-numeric-keyboard {
    display: none !important;
}

.ion-numeric-keyboard.visible {
    display: block !important;
}

.ion-numeric-keyboard.animated.has-top-bar,
.ion-numeric-keyboard.animated {
    display: block !important;
    position: absolute;
    bottom: -180px;
    left: 0;
    transition: all 250ms ease;
}

.ion-numeric-keyboard.animated.has-top-bar {
    bottom: -225px;
}

.ion-numeric-keyboard.animated.has-top-bar.visible,
.ion-numeric-keyboard.animated.visible {
    bottom: 0;
}