<ion-toolbar class="ion-numeric-keyboard-container" [class.visible]="visible" [class.has-top-bar]="options.topBarKeys && options.topBarKeys.length">
    <ion-grid class="ion-numeric-keyboard" [class.animated]="options.animated" [class.visible]="visible" [class.has-top-bar]="options.topBarKeys && options.topBarKeys.length">
        <ion-row [style.height.px]="preferenseService.Preferences.keySize" class="ion-numeric-keyboard-top-bar" *ngIf="options.topBarKeys && options.topBarKeys.length">
            <ion-col class="key top-bar-key {{topBarKey.keyClass}}" *ngFor="let topBarKey of options.topBarKeys">
                <button [style.height.px]="preferenseService.Preferences.keySize" ion-button clear light (click)="onClick(topBarKey.keyContent, topBarKey.keySource)">{{topBarKey.keyContent}}</button>
            </ion-col>
        </ion-row>
        <ion-row [style.height.px]="preferenseService.Preferences.keySize">
            <ion-col class="key">
                <button [style.height.px]="preferenseService.Preferences.keySize" ion-button full clear light (click)="onClick(1, 'NUMERIC_KEY')">1</button>
            </ion-col>
            <ion-col class="key">
                <button [style.height.px]="preferenseService.Preferences.keySize" ion-button full clear light (click)="onClick(2, 'NUMERIC_KEY')">2</button>
            </ion-col>
            <ion-col class="key">
                <button [style.height.px]="preferenseService.Preferences.keySize" ion-button full clear light (click)="onClick(3, 'NUMERIC_KEY')">3</button>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="!options.onlyThreeOptions" [style.height.px]="preferenseService.Preferences.keySize">
            <ion-col class="key">
                <button [style.height.px]="preferenseService.Preferences.keySize" ion-button full clear light (click)="onClick(4, 'NUMERIC_KEY')">4</button>
            </ion-col>
            <ion-col class="key">
                <button [style.height.px]="preferenseService.Preferences.keySize" ion-button full clear light (click)="onClick(5, 'NUMERIC_KEY')">5</button>
            </ion-col>
            <ion-col class="key">
                <button [style.height.px]="preferenseService.Preferences.keySize" ion-button full clear light (click)="onClick(6, 'NUMERIC_KEY')">6</button>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="!options.onlyThreeOptions" [style.height.px]="preferenseService.Preferences.keySize">
            <ion-col class="key">
                <button [style.height.px]="preferenseService.Preferences.keySize" ion-button full clear light (click)="onClick(7, 'NUMERIC_KEY')">7</button>
            </ion-col>
            <ion-col class="key">
                <button [style.height.px]="preferenseService.Preferences.keySize" ion-button full clear light (click)="onClick(8, 'NUMERIC_KEY')">8</button>
            </ion-col>
            <ion-col class="key">
                <button [style.height.px]="preferenseService.Preferences.keySize" ion-button full clear light (click)="onClick(9, 'NUMERIC_KEY')">9</button>
            </ion-col>
        </ion-row>
        <ion-row [style.height.px]="preferenseService.Preferences.keySize" class="row" *ngIf="!options.hideBottom">
            <ion-col class="key control-key left-control-key">
                <button [style.height.px]="preferenseService.Preferences.keySize" ion-button full clear light *ngIf="options.leftControlKey && options.leftControlKey.type == 'text'" (click)="onClick(options.leftControlKey.value, 'LEFT_CONTROL')" [innerHTML]="trustContent(options.leftControlKey.value)"></button>
                <button [style.height.px]="preferenseService.Preferences.keySize" ion-button full clear light *ngIf="options.leftControlKey && options.leftControlKey.type == 'icon'" (click)="onClick(options.leftControlKey.value, 'LEFT_CONTROL')"><ion-icon name="{{options.leftControlKey.value}}"></ion-icon></button>
            </ion-col>
            <ion-col class="key">
                <button [style.height.px]="preferenseService.Preferences.keySize" ion-button full clear light (click)="onClick(0, 'NUMERIC_KEY')">0</button>
            </ion-col>
            <ion-col class="key control-key right-control-key">
                <button [style.height.px]="preferenseService.Preferences.keySize" ion-button full clear light *ngIf="options.rightControlKey && options.rightControlKey.type == 'text'" (click)="onClick(options.rightControlKey.value, 'RIGHT_CONTROL')" [innerHTML]="trustContent(options.rightControlKey.value)"></button>
                <button [style.height.px]="preferenseService.Preferences.keySize" ion-button full clear light *ngIf="options.rightControlKey && options.rightControlKey.type == 'icon'" (click)="onClick(options.rightControlKey.value, 'RIGHT_CONTROL')"><ion-icon name="{{options.rightControlKey.value}}"></ion-icon></button>
            </ion-col>
        </ion-row>
        <ion-row [style.height.px]="preferenseService.Preferences.keySize" class="row" *ngIf="options.showExtraButton">
            <ion-col class="key">
                <button [style.height.px]="preferenseService.Preferences.keySize" ion-button full clear light (click)="onClick(0, 'extra')">{{ options.ExtraButtonText | translate}}</button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-toolbar>