<ion-header>
    <ion-navbar color="dcOrange">
        <ion-title>{{title | translate}}</ion-title>
    </ion-navbar>
</ion-header>


<ion-content>

    <!-- Unfinished section -->
    <ion-list *ngIf="storage.unfinisheds[settings.unfinishedKey].length">
        <ion-item *ngFor="let unfinished of storage.unfinisheds[settings.unfinishedKey]">
            <ion-label>
                <span>{{unfinished.Game.title}} - </span>
                <span class="smallLabel">{{unfinished.Game.ID | date : 'd MMM yyyy' }}</span>
            </ion-label>
            <button item-right ion-button outline color="primary" (click)="ContinueGame(unfinished)">{{'continue' | translate}}</button>
            <button item-right class="trashbutton" color="danger" (tap)="RemoveItemFromStorageListByID(unfinished.Game.ID)" ion-button icon-only>
                <ion-icon ios="ios-trash-outline" md="md-trash"></ion-icon>
            </button>
        </ion-item>
    </ion-list>
    <!-- end of Unfinished -->

    <!-- DartBot section -->
    <ion-list *ngIf="settings.allowDartbot">
        <ion-item>
            <ion-label>vs Dartbot</ion-label>
            <ion-checkbox color="dcOrange" (click)="SetDartbot(settings.vsCPU)" [(ngModel)]="settings.vsCPU"></ion-checkbox>
        </ion-item>
    </ion-list>
    <ion-list *ngIf="settings.vsCPU">
        <ion-list-header>
            {{ settings.cpuTitle | translate}}
            <ion-badge color="primary" item-right></ion-badge>
        </ion-list-header>
        <ion-item *ngIf="dartbotTeam">
            <ion-range [min]="settings.dartbotMin" [max]="settings.dartbotMax" [(ngModel)]="dartbotTeam.players[0].cpuLevel" color="dcOrange">
                <ion-label range-left></ion-label>
                <ion-label range-right>{{dartbotTeam.players[0].cpuLevel}}</ion-label>
            </ion-range>
        </ion-item>
    </ion-list>
    <!-- end of Dartbot -->

    <!-- CheckoutRate switch 
    <ion-list *ngIf="settings.allowDoubleIn">
        <ion-item>
            <ion-icon name="stats" item-left></ion-icon>
            <ion-label>{{'checkout rate percent' | translate}}</ion-label>
            <ion-toggle color="dcOrange" [(ngModel)]="settings.checkoutRate" item-right></ion-toggle>
        </ion-item>
    </ion-list>
     end of teammode switch -->

    <!-- teammode switch -->
    <ion-list *ngIf="settings.allowTeams">
        <ion-item>
            <ion-icon name="ios-people" item-left></ion-icon>
            <ion-label>Teammode</ion-label>
            <ion-toggle color="dcOrange" (ionChange)="SetTeams(teamMode)" [(ngModel)]="teamMode" item-right></ion-toggle>
        </ion-item>
    </ion-list>
    <!-- end of teammode switch -->

    <ion-list *ngIf="teamMode" class="noMargin">
        <!-- List header with buttons on each side -->
        <ion-list-header>
            {{'teams' | translate}}
            <button ion-button item-right [disabled]="amountOfTeams >= 2" (click)="AddTeam()">{{'add team' | translate}}</button>
        </ion-list-header>

        <ion-item-group [reorder]="allowReorder" (ionItemReorder)="ReorderTeams($event)">
            <ng-container *ngFor="let team of settings.teams; let i = index">
                <ion-item class="noPadding">
                    <!-- Item divider with a right button -->
                    <ion-item-divider class="no-reorder">
                        <span style="margin-left: 10px;">Team {{i+1}}</span>
                        <button item-left class="trashbutton" color="danger" *ngIf="amountOfTeams > 1" (click)="RemoveTeam(team)" ion-button icon-only>
                            <ion-icon ios="ios-trash-outline" md="md-trash"></ion-icon>
                        </button>
                        <button color="success" [disabled]="team.players.length == 2" (click)="AddPlayer(team)" ion-button item-right>{{'add player' | translate}}</button>
                    </ion-item-divider>

                    <ng-container *ngFor="let player of team.players">
                        <ion-item detail-none class="no-reorder noInnerMargin" *ngIf="!player.isCPU">
                            <ion-avatar item-left>
                                <profile-image [url]="player.ProfilePic"></profile-image>
                            </ion-avatar>
                            <ion-input [(ngModel)]="player.name" type="text" placeholder="{{'name of player'| translate}}"></ion-input>
                            <button ion-button outline item-right *ngIf="!player.Account" (click)="ShowLinkPlayer(player)">{{'link' | translate}}</button>
                            <button ion-button item-right *ngIf="player.Account " (click)="UnlinkPlayer(player)">{{'unlink' | translate}}</button>

                            <button item-right color="white" class="soundIcon pulse" fill="outline" (click)="ShowLinkSound(player)" ion-button icon-only *ngIf="!player.sound && (auth.guest || (player.Account && (player.isUltimate == '1' || player.Account == auth.userData.ID || auth.userData?.isAdmin == '1')))">
                                <ion-icon style="color: #387ef5" name="volume-up"></ion-icon>
                            </button>

                            <button item-right class="soundIcon pulse" (click)="ShowLinkSound(player)" ion-button icon-only *ngIf="player.sound">
                                <ion-icon name="volume-up"></ion-icon>
                            </button>

                            <button item-right class="trashbutton" color="danger" *ngIf="team.players.length > 1" (click)="RemovePlayer(team, player)" ion-button icon-only>
                                <ion-icon ios="ios-trash-outline" md="md-trash"></ion-icon>
                            </button>
                        </ion-item>
                        <ion-item detail-none class="no-reorder noInnerMargin" *ngIf="player.isCPU">
                            <ion-avatar item-left>
                                <profile-image [url]="player.ProfilePic"></profile-image>
                            </ion-avatar>
                            <span style="margin-left:10px">{{player.name}}</span>
                        </ion-item>
                    </ng-container>
                </ion-item>
            </ng-container>
        </ion-item-group>
    </ion-list>

    <ion-list *ngIf="!teamMode" class="noMargin">
        <!-- List header with buttons on each side -->
        <ion-list-header>
            {{'players' | translate}}
            <button ion-button color="success" [disabled]="amountOfPlayers >= 4" item-right (click)="AddTeam()">{{'add player' | translate}}</button>
        </ion-list-header>

        <ion-item-group [reorder]="allowReorder" (ionItemReorder)="ReorderTeams($event)">
            <ng-container *ngFor="let team of settings.teams; let i = index">
                <ng-container *ngFor="let player of team.players">
                    <ion-item ion-item detail-none class="noInnerMargin" *ngIf="!player.isCPU">
                        <ion-avatar item-left>
                            <profile-image [url]="player.ProfilePic"></profile-image>
                        </ion-avatar>
                        <p>{{player | json}}</p>
                        <ion-input [(ngModel)]="player.name" type="text" placeholder="{{'name of player'| translate}}"></ion-input>
                        <button ion-button outline item-right *ngIf="!player.Account" (click)="ShowLinkPlayer(player)">{{'link' | translate}}</button>
                        <button ion-button item-right *ngIf="player.Account " (click)="UnlinkPlayer(player)">{{'unlink' | translate}}</button>

                        <button item-right color="white" class="soundIcon pulse" fill="outline" (click)="ShowLinkSound(player)" ion-button icon-only *ngIf="!player.sound && (auth.guest || (player.Account && (player.isUltimate == '1' || player.Account == auth.userData.ID || auth.userData?.isAdmin == '1')))">
                            <ion-icon style="color: #387ef5" name="volume-up"></ion-icon>
                        </button>

                        <button item-right class="soundIcon pulse" (click)="ShowLinkSound(player)" ion-button icon-only *ngIf="player.sound">
                            <ion-icon name="volume-up"></ion-icon>
                        </button>

                        <button item-right class="trashbutton" color="danger" *ngIf="amountOfPlayers > 1" (click)="RemoveTeam(team)" ion-button icon-only>
                            <ion-icon ios="ios-trash-outline" md="md-trash"></ion-icon>
                        </button>
                    </ion-item>
                    <ion-item class="noPadding noInnerMargin" *ngIf="player.isCPU">
                        <ion-item detail-none class="no-reorder noInnerMargin" *ngFor="let player of team.players">
                            <ion-avatar item-left>
                                <profile-image [url]="player.ProfilePic"></profile-image>
                            </ion-avatar>
                            <span style="margin-left:10px">{{player.name}}</span>
                        </ion-item>
                    </ion-item>
                </ng-container>
            </ng-container>
        </ion-item-group>
    </ion-list>

    <button full ion-button color="primary" (click)="ToggleReorder()">{{'reorder' | translate}}</button>

    <!-- StartScore selection -->
    <ion-list radio-group [(ngModel)]="settings.selectedStartScore" *ngIf="settings.showStartScores">
        <ion-list-header> {{'startscore' | translate}} </ion-list-header>
        <ion-item *ngFor="let score of startScores">
            <ion-label>{{score}}</ion-label>
            <ion-radio value="{{score}}"></ion-radio>
        </ion-item>
        <ion-item *ngIf="settings.selectedStartScore == 'Custom'">
            <ion-input [(ngModel)]="settings.customScore" type="text" placeholder="{{'Enter custom score'| translate}}"></ion-input>
        </ion-item>
    </ion-list>
    <!-- End of StartScore selection -->

    <!-- Difficulty selection -->
    <div *ngIf="settings.difficulties">
        <ion-list radio-group [(ngModel)]="settings.difficulty">
            <ion-list-header> {{'LBL_DIFFICULTY' | translate}} </ion-list-header>
            <ion-item *ngFor="let difficulty of difficulties">
                <ion-label>{{difficulty.title | translate}}</ion-label>
                <ion-radio [value]="difficulty.type"></ion-radio>
            </ion-item>
        </ion-list>
        <p *ngIf="settings.difficulty == 'easy'" text-center>{{"DIFFICULTY_EASY_EXPLANATION" | translate}}</p>
        <p *ngIf="settings.difficulty == 'hard'" text-center>{{"DIFFICULTY_HARD_EXPLANATION" | translate}}</p>
    </div>
    <!-- End of difficulty selection -->

    <!-- Sequence selection -->
    <ion-list radio-group [(ngModel)]="settings.sequence" *ngIf="settings.showSequences">
        <ion-list-header> {{'sequence' | translate}} </ion-list-header>
        <ion-item *ngFor="let sequence of sequences">
            <ion-label>{{sequence.title | translate}}</ion-label>
            <ion-radio value="{{sequence.type}}"></ion-radio>
        </ion-item>
    </ion-list>
    <!-- End of Sequence selection -->

    <!-- GameMode selection -->
    <ion-list radio-group [(ngModel)]="settings.gameMode" *ngIf="settings.showGameModes">
        <ion-list-header> {{'gamemode' | translate}} </ion-list-header>
        <ion-item *ngFor="let gameMode of gameModes">
            <ion-label>{{gameMode.title | translate}}</ion-label>
            <ion-radio value="{{gameMode.mode}}"></ion-radio>
        </ion-item>
    </ion-list>
    <!-- End of GameMode selection -->

    <ion-list *ngIf="settings.showAmountOfTurns">
        <ion-list-header> {{'how many turns' | translate}} </ion-list-header>
        <ion-item>
            <ion-input [(ngModel)]="settings.amountOfTurns" text-center type="number" min="10" max="100"></ion-input>
        </ion-item>
    </ion-list>

    <ion-list *ngIf="settings.setsMode">
        <ion-list-header> {{'goal' | translate}} </ion-list-header>
        <ion-item>
            <ion-segment [(ngModel)]="settings.isBestOf" color="primary">
                <ion-segment-button value="true">
                    Best of
                </ion-segment-button>
                <ion-segment-button value="false">
                    First to
                </ion-segment-button>
            </ion-segment>
        </ion-item>
        <ion-item>
            <ion-input [(ngModel)]="settings.goalAmount" text-center type="text" placeholder="{{'enter an amount'| translate}}"></ion-input>
        </ion-item>
        <ion-item>
            <ion-segment [(ngModel)]="settings.isSets" color="primary">
                <ion-segment-button value="true">
                    Sets
                </ion-segment-button>
                <ion-segment-button value="false">
                    Legs
                </ion-segment-button>
            </ion-segment>
        </ion-item>
    </ion-list>

    <!-- CheckoutRate switch -->
    <ion-list *ngIf="settings.allowCheckoutRate">
        <ion-item>
            <ion-icon name="stats" item-left></ion-icon>
            <ion-label>{{'checkout rate percent' | translate}}</ion-label>
            <ion-toggle color="dcOrange" [(ngModel)]="settings.checkoutRate" item-right></ion-toggle>
        </ion-item>
    </ion-list>
    <!-- end of CheckoutRate switch -->

    <button style="margin-bottom: 15px; height: 51px; font-size: 18px;" color="dcOrange" (click)="TryStartGame()" ion-button full>{{'start game'| translate}}</button>

</ion-content>