page-settings {
    ion-content {
        background-color: #ccc!important;
    }
    .item-md.list-header {
        background-color: #ccc!important;
        color: #444;
        margin: 0;
        border: 0;
    }
    .smallLabel {
        margin-left: 10px;
    }
    .ios .trashbutton {
        color: white;
        padding: 18px 5px!important;
        margin: 0!important;
    }
    .button-md.trashbutton {
        color: white;
        padding: 5px!important;
        margin: 0!important;
    }
    .soundIcon {
        padding: 2px 5px;
        border: 1px solid #2c6bcc;
    }
    .pulse {
        display: block;
        width: 38px;
        box-shadow: 0 0 0 #2c6bcc;
        animation: pulse 1.1s infinite;
        margin-right: 5px;
    }
    .pulse mat-icon {
        font-size: 18px;
    }
    .pulse:hover {
        animation: none;
    }
}