<app-header></app-header>

<ion-content>
    <div class="top56px"></div>

    <ion-item id="account">
        <ion-avatar item-left>
            <profile-image [url]="profile.ProfilePic"></profile-image>
        </ion-avatar>
        <h2>{{profile.FirstName}} {{profile.LastName}}</h2>
        <p>{{profile.Nickname || ('no nickname' | translate)}}</p>
    </ion-item>

    <form (ngSubmit)="SaveAccount()" #accountForm="ngForm">
        <ion-row>
            <ion-col>
                <ion-list>
                    <ion-item>
                        <ion-input type="text" placeholder="{{'firstname' | translate}}*" name="firstname" [(ngModel)]="profile.FirstName" required></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-input type="text" placeholder="{{'lastname' | translate}}*" name="lastname" [(ngModel)]="profile.LastName" required></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-input type="text" placeholder="{{'nickname' | translate}}" name="nickname" [(ngModel)]="profile.Nickname"></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-input type="text" placeholder="{{'darts' | translate}}" name="darts" [(ngModel)]="profile.Darts"></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-input type="text" placeholder="{{'team' | translate}}" name="team" [(ngModel)]="profile.Team"></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-input type="text" placeholder="{{'league' | translate}}" name="league" [(ngModel)]="profile.League"></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-input type="text" placeholder="{{'division' | translate}}" name="divison" [(ngModel)]="profile.Division"></ion-input>
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <button ion-button class="submit-btn" full type="submit" [disabled]="!accountForm.form.valid">{{'save' | translate}}</button>
            </ion-col>
        </ion-row>
    </form>

</ion-content>