page-tacticsDetail {
    ion-content {
        background-color: rgb(214, 220, 225)!important;
    }
    .underline {
        border-bottom: 1px solid #fff;
    }
    .borderLeft {
        border-left: 1px solid #fff;
    }
    .height30,
    .height30 .col {
        height: 30px;
        line-height: 30px;
        padding: 0px;
    }
    .isClosed {
        background: #f79191;
    }
    .totalscoreRow {
        background: #eeeeee;
    }
    .historyTitle2 {
        color: #444;
        font-size: 19pt;
        margin: 0;
        padding: 15px;
    }
}