<ion-header>
    <ion-navbar color="dcOrange">
        <ion-title>{{title | translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>

    <ion-card class="dcSection">
        <div class="sectionTitle" translate>
            {{item.Name}}
        </div>
        <div class="sectionContent">


            <ion-row class="underline" align-items-center>
                <ion-col col-3 text-center></ion-col>
                <ion-col class="elipsis" *ngFor="let team of teams" text-center>
                    <div class="row players-{{team.players.length}}" *ngFor="let player of team.players">
                        <div style="color: #444;" class="col elipsis" text-center>
                            <span text-center>{{GetPlayerByID(player.ID) || ("LBL_NO_NAME" | translate)}}</span>
                        </div>
                    </div>
                </ion-col>
            </ion-row>

            <ion-row class="underline height30" *ngFor="let number of gameValues" align-items-center>
                <ion-col col-3 (click)="PressKey(number.title, true)" text-center>
                    <span>{{number.title != 25 ? number.title : "BULL"}}</span>
                </ion-col>
                <ion-col class="borderLeft" *ngFor="let team of teams" text-center>
                    <!-- show the BULL amount IN the row -->
                    <span *ngIf="team.turns[number.title]?.Amount > 2"><img style="height: 25px;padding-top: 5px; width: 20px; margin: 0 auto;"
              src="assets/images/tactics-full.png" /></span>
                    <span *ngIf="team.turns[number.title]?.Amount == 2"><img style="height: 25px;padding-top: 5px; width: 20px; margin: 0 auto;"
              src="assets/images/tactics-two.png" /></span>
                    <span *ngIf="team.turns[number.title]?.Amount == 1"><img style="height: 25px;padding-top: 5px; width: 20px; margin: 0 auto;"
              src="assets/images/tactics-one.png" /></span>
                </ion-col>
            </ion-row>

            <ion-row class="totalscoreRow" align-items-center>
                <ion-col col-3 text-center><span>Score</span></ion-col>
                <ion-col class="borderLeft" *ngFor="let team of teams" text-center>
                    <span>{{team.TotalScore}}</span>
                </ion-col>
            </ion-row>
        </div>
    </ion-card>

</ion-content>