<ion-header>
    <ion-navbar color="dcOrange">
        <ion-title>{{"TITLE_CHECKOUTS" | translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>

    <ion-segment padding [(ngModel)]="segment">
        <ion-segment-button value="best">
            {{'LBL_BEST' | translate}}
        </ion-segment-button>
        <ion-segment-button value="worst">
            {{'LBL_WORST' | translate}}
        </ion-segment-button>
    </ion-segment>

    <div [ngSwitch]="segment">
        <div *ngSwitchCase="'best'">
            <ion-card class="dcSection">
                <div class="badge-promo blue">
                    <span class="badge-promo-content" translate>LBL_BEST_CHECKOUTS</span>
                </div>
                <div class="sectionContent">
                    <ion-row class="dataRow" *ngFor="let item of items.best; let i = index; let isOdd = odd; let isEven = even" [class.odd]="isOdd" [class.even]="isEven">
                        <ion-col text-center>
                            #{{i+1}}
                        </ion-col>
                        <ion-col text-center>
                            {{GetDate(item.CreatedDate) | date : 'dd-MMM-yyyy'}}
                        </ion-col>
                        <ion-col text-center>
                            {{item.Value}}
                        </ion-col>
                        <ion-col>
                            <button class="cta" color="dcOrange" ion-button small (click)="ShowDetail(item)">
                {{'more info' | translate}}
              </button>
                        </ion-col>
                    </ion-row>
                </div>
            </ion-card>
        </div>

        <div *ngSwitchCase="'worst'">
            <ion-card class="dcSection">
                <div class="badge-promo blue">
                    <span class="badge-promo-content" translate>LBL_WORST_CHECKOUTS</span>
                </div>
                <div class="sectionContent">
                    <ion-row class="dataRow" *ngFor="let item of items.worst; let i = index; let isOdd = odd; let isEven = even" [class.odd]="isOdd" [class.even]="isEven">
                        <ion-col text-center>
                            #{{i+1}}
                        </ion-col>
                        <ion-col text-center>
                            {{GetDate(item.CreatedDate) | date : 'dd-MMM-yyyy'}}
                        </ion-col>
                        <ion-col text-center>
                            {{item.Value}}
                        </ion-col>
                        <ion-col>
                            <button class="cta" color="dcOrange" ion-button small (click)="ShowDetail(item)">
                            {{'more info' | translate}}
                          </button>
                        </ion-col>
                    </ion-row>
                </div>
            </ion-card>
        </div>
    </div>

</ion-content>