<ion-header>
    <ion-navbar color="dcOrange">
        <ion-buttons end>
            <button ion-button icon-only (click)="DismissModal()">
        <ion-icon item-right name="close"></ion-icon>
      </button>
        </ion-buttons>
        <ion-title>{{'upgrade account' | translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <div *ngIf="auth.userData.ID != '2703' && auth.userData.ID != 2703">
        <ion-row>
            <ion-col>
                <h2 style="margin: 10px 0 0;" translate text-center>become ultimate member</h2>
            </ion-col>
        </ion-row>
        <p text-center class="noMargin">€14,99 {{'per year' | translate}} {{'or' | translate}} €1,99 {{'per month' | translate}}
        </p>

        <ion-list class="ultimateList">
            <ion-item>
                <ion-icon name="ios-checkmark" color="success" class="noMargin" item-left></ion-icon>
                {{'ultimate feature1' | translate}}
            </ion-item>
            <ion-item>
                <ion-icon name="ios-checkmark" color="success" class="noMargin" item-left></ion-icon>
                {{'ultimate feature2' | translate}}
            </ion-item>
            <ion-item>
                <ion-icon name="ios-checkmark" color="success" class="noMargin" item-left></ion-icon>
                {{'ultimate feature3' | translate}}
            </ion-item>
            <ion-item>
                <ion-icon name="ios-checkmark" color="success" class="noMargin" item-left></ion-icon>
                {{'ultimate feature4' | translate}}
            </ion-item>
            <ion-item>
                <ion-icon name="ios-checkmark" color="success" class="noMargin" item-left></ion-icon>
                {{'ultimate feature5' | translate}}
            </ion-item>
            <ion-item>
                <ion-icon name="ios-checkmark" color="success" class="noMargin" item-left></ion-icon>
                {{'ultimate feature6' | translate}}
            </ion-item>
        </ion-list>

        <ion-row>
            <ion-col>
                <button ion-button full (click)="BuyUltimate()">
          {{'buy ultimate' | translate}}</button>
            </ion-col>
        </ion-row>
    </div>

    <ion-row>
        <ion-col>
            <h2 style="margin: 10px 0 0;" translate text-center>become pro member</h2>
        </ion-col>
    </ion-row>
    <p text-center class="noMargin">{{purchases.proSubscription?.price}} {{'per year' | translate}}</p>

    <ion-list class="ultimateList">
        <ion-item>
            <ion-icon name="ios-checkmark" color="success" class="noMargin" item-left></ion-icon>
            {{'pro feature1' | translate}}
        </ion-item>
        <ion-item>
            <ion-icon name="ios-checkmark" color="success" class="noMargin" item-left></ion-icon>
            {{'pro feature2' | translate}}
        </ion-item>
    </ion-list>

    <ion-row>
        <ion-col>
            <button ion-button full (click)="BuyPro()">
        {{'buy pro' | translate}}
      </button>
        </ion-col>
    </ion-row>

    <!-- <ion-row>
        <ion-col>
            <button ion-button color="dcOrange" full (click)="BuyPro()">{{'buy it now' | translate}}</button>
        </ion-col>
    </ion-row> -->

    <ul class="extraIAPinfo">
        <li>
            PRO Subscription Payment will be charged to iTunes Account at confirmation of purchase.
        </li>
        <li>
            Subscription automatically renews unless auto-renew is turned off at least 24-hours before the end of the current period.
        </li>
        <li>
            Account will be charged for renewal within 24-hours prior to the end of the current period, and identify the cost of the renewal.
        </li>
        <li>
            Subscriptions may be managed by the user and auto-renewal may be turned off by going to the user's iTunes Account Settings after purchase.
        </li>
    </ul>

    <button ion-button full outline (click)="OpenAgreementDialog()">{{'agreement' | translate}}</button>

    <button ion-button full outline (click)="OpenPolicyDialog()">{{'privacy policy' | translate}}</button>

</ion-content>