app-menu {
    .app-menu .menu-inner {
        background: #25262a;
    }
    .proRibbon {
        position: absolute;
        left: 60px;
        bottom: -3px;
        font-size: 16pt;
        color: #ff6600;
    }
    #menulist .item {
        color: #fff;
        margin-top: 1px;
        background: #25262a;
        border-top: 0px !important;
        border-bottom: 2px solid #1d1d1f;
        box-shadow: 0 2px 1px -2px #5d5d5d;
    }
    #account {
        color: #fff;
        margin: 8px 0 5px 0;
        background: #25262a;
        border-bottom: 2px solid #1d1d1f;
        box-shadow: 0 2px 1px -2px #5d5d5d;
    }
    #account ion-avatar img {
        width: 55px;
        height: 55px;
        border: 1px solid #3e3e3e;
        border-radius: 10px;
    }
    #menulist .item-inner,
    #account .item-inner,
    .item-md.item-block .item-inner {
        border: none;
    }
    .appVersion {
        color: #949191;
    }
}