<!-- logged in menu (ionOpen)="showAds()" (ionClose)="hideAds()" -->
<ion-menu class="app-menu" id="mainmenu" [content]="content">

    <ion-item id="account" *ngIf="auth.userData">
        <div class="proRibbon" *ngIf="auth.userData.isUltimate == '1'">
            <ion-icon name="ribbon"></ion-icon>
        </div>
        <ion-avatar tappable item-left (click)="OpenProfile()">
            <profile-image [url]="auth.userData.ProfilePic"></profile-image>
        </ion-avatar>
        <div (tap)="OpenProfile()">
            <h2>{{auth.userData.FirstName}} {{auth.userData.LastName}}</h2>
            <p>{{auth.userData.Nickname || ('no nickname' | translate)}}</p>
        </div>
        <ion-icon tappable (click)="OpenSettings()" name="settings" item-right></ion-icon>
    </ion-item>

    <ion-item id="account" *ngIf="!auth.userData">
        <ion-avatar tappable item-left>
            <profile-image [url]="auth.userData"></profile-image>
        </ion-avatar>
        <div>
            <h2>{{'no account linked' | translate}}</h2>
        </div>
        <ion-icon tappable (click)="OpenSettings()" name="settings" item-right></ion-icon>
    </ion-item>

    <div *ngIf="auth.userData && auth.userData.isUltimate != '1'" text-center>
        <button ion-item color="dcOrange" (click)="OpenSubscriptionDialog()">
            <ion-icon name="ribbon" item-left></ion-icon>
            <span>{{'upgrade account' | translate}}</span>
        </button>
    </div>

    <ion-list id="menulist">
        <button ion-item (click)="ShowHome()">
            <ion-icon name="home" item-left></ion-icon>
            <span>Home</span>
        </button>
        <button ion-item (click)="NewGame()">
            <ion-icon item-left style="margin-top: 15px;"><img src="assets/images/dartboard-icon.png" style="height: 24px;" alt="dartboard play icon" /></ion-icon>
            <span>{{'new game' | translate}}</span>
            <ion-badge item-right color="primary" *ngIf="CheckUnfinisheds()">{{unfinisheds}}</ion-badge>
        </button>
        <button ion-item (click)="OpenProfile()" *ngIf="auth.userData">
            <ion-icon name="person" item-left></ion-icon>
            <span>{{'page profile' | translate}}</span>
        </button>
        <button ion-item *ngFor="let page of pages" (click)="OpenPage(page)">
            <ion-icon name="{{page.icon}}" item-left></ion-icon>
            <span>{{page.title | translate}}</span>
            <ion-badge item-right color="dcOrange" *ngIf="page.title == 'search friends' && mobileAPI.notifications > 0">{{mobileAPI.notifications}}</ion-badge>
        </button>
        <!-- <button ion-item (click)="AccountSettings()" *ngIf="auth.userData && (!auth.userData.FacebookID || !auth.userData.Username)">
            <ion-icon name="person" item-left></ion-icon>
            <span>{{'account settings' | translate}}</span>
            <ion-badge item-right color="dcOrange">1</ion-badge>
        </button> -->
        <button ion-item (click)="Logout()" *ngIf="auth.userData">
            <ion-icon name="log-out" item-left></ion-icon>
            <span>{{'logout' | translate}}</span>
        </button>
        <button ion-item (click)="Logout()" *ngIf="!auth.userData">
            <ion-icon name="log-in" item-left></ion-icon>
            <span>{{'login' | translate}}</span>
        </button>
    </ion-list>

    <ion-row>
        <ion-col text-center *ngIf="preferenceService?.Preferences?.lang == 'de'">
            <span>
                <a href="https://mydartpfeil.com/?utm_source=dartcounter_app&utm_medium=banner">
                    <img style="height: 50px;" src="assets/images/mydartpfeil.png" />
                </a>
            </span>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col col-3 text-center *ngIf="preferenceService?.Preferences?.lang == 'nl'">
            <span>
                    <a href="http://www.ndbdarts.nl/">
                        <img style="height: 50px;" src="assets/images/ndb_logo.png" />
                    </a>
                </span>
        </ion-col>
        <ion-col text-center>
            <span>
                    <a href="http://www.winmau.com">
                        <img style="height: 45px;" src="assets/images/Winmau_logo_klein.png" />
                    </a>
                </span>
        </ion-col>
    </ion-row>

    <p text-center class="appVersion">v4.0.0</p>
</ion-menu>