<ion-header>
    <ion-navbar color="dcOrange">
        <ion-title>{{'explanation' | translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-slides pager>
        <ion-slide *ngFor="let slide of slides">
            <ion-toolbar>
                <ion-buttons end (click)="DismissModal()">
                    <button ion-button color="primary">{{'close' | translate}}</button>
                </ion-buttons>
            </ion-toolbar>
            <!-- <img [src]="slide.image" class="slide-image" /> -->
            <h2 class="slide-title" translate>{{slide.title}}</h2>
            <p class="description" translate>{{slide.description}}</p>
        </ion-slide>
        <ion-slide>
            <ion-toolbar>
            </ion-toolbar>
            <!-- <img src="assets/img/ica-slidebox-img-4.png" class="slide-image" /> -->
            <h2 class="slide-title">{{'ready to play' | translate}}?</h2>
            <button (click)="DismissModal()" ion-button large clear icon-end color="primary">
            {{'continue' | translate}} 
            <ion-icon name="arrow-forward"></ion-icon>
          </button>
        </ion-slide>
    </ion-slides>
</ion-content>