<ion-header>
    <ion-navbar color="dcOrange">
        <ion-title>{{title | translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>

    <div *ngIf="auth.userData.isPro == '1'">
        <ion-item>
            <ion-label>{{'startdate' | translate}}</ion-label>
            <ion-datetime displayFormat="DD MMM YYYY" (ionChange)="OnDateChanged()" [(ngModel)]="startDate"></ion-datetime>
        </ion-item>
        <ion-item>
            <ion-label>{{'enddate' | translate}}</ion-label>
            <ion-datetime displayFormat="DD MMM YYYY" (ionChange)="OnDateChanged()" [(ngModel)]="endDate"></ion-datetime>
        </ion-item>
    </div>
    <div *ngIf="auth.userData.isPro != '1'" text-center>
        <ion-row style="background: #fff;">
            <ion-col>
                <span translate>you only see 5 trainings</span>
            </ion-col>
        </ion-row>
        <button ion-item color="primary" (click)="OpenSubscriptionDialog()">
            <ion-icon name="ribbon" item-left></ion-icon>
            <span>{{'buy ultimate' | translate}}</span>
        </button>
    </div>

    <ion-card *ngFor="let item of items" class="dcSection">
        <div class="badge-promo blue">
            <span class="badge-promo-content" translate>{{item.Name}}</span>
        </div>
        <ion-row class="sectionSubtitle">
            <p>{{item.CreatedDate| date : 'dd-MMM-yyyy H:mm'}}</p>
        </ion-row>
        <div class="sectionContent">
            <ion-row class="dataRow">
                <ion-col>{{'total score' | translate}}</ion-col>
                <ion-col>
                    {{item.TotalScore}}
                </ion-col>
            </ion-row>
            <button class="cta" color="dcOrange" ion-button small (click)="ShowDetail(item)">
            {{'more info' | translate}}
          </button>
        </div>
    </ion-card>

    <div *ngIf="auth.userData.isPro == '1'">
        <ion-infinite-scroll (ionInfinite)="GetItems($event)">
            <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="{{'loading...' | translate}}">
            </ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </div>
</ion-content>