<ion-header>

    <ion-navbar>
        <ion-buttons end>
            <button default="true" ion-button icon-only (click)="dismiss()">
                    <ion-icon item-right name="close"></ion-icon>
                </button>
        </ion-buttons>
        <ion-title>{{'LBL_SELECT_YOUR_NAME' | translate}}</ion-title>
    </ion-navbar>

</ion-header>

<ion-content>
    <ion-row>
        <ion-col>
            <p translate>TEXT_LINK_SOUND</p>
        </ion-col>
    </ion-row>

    <ion-list>
        <ion-item class="search">
            <ion-icon style="color:#444" name="search" item-left></ion-icon>
            <ion-input style="color:#444" (keyup)="searchTerm$.next($event.target.value)" type="text" placeholder="{{'LBL_NAME_OF_PLAYER'| translate}}"></ion-input>
        </ion-item>

        <ion-item-divider> </ion-item-divider>

        <ion-item radio-group [(ngModel)]="selectedSound" class="sound" *ngFor="let sound of Sounds">
            <ion-radio (click)="PlaySound(sound)" color="dcOrange" value="{{sound.Name}}"></ion-radio>
            <ion-label>{{sound.Name}}</ion-label>
        </ion-item>
    </ion-list>

    <ion-row>
        <ion-col>
            <button (click)="dismiss()" *ngIf="!player.sound" ion-button color="danger">{{'BTN_CANCEL' | translate}}</button>
            <button (click)="dismiss()" *ngIf="player.sound" ion-button color="danger">{{'BTN_UNLINK' | translate}}</button>
            <button class="confirm" ion-button (click)="LinkSound(selectedSound)">{{'BTN_LINK_SOUND' | translate}}</button>
        </ion-col>
    </ion-row>

</ion-content>