.modal-wrapper {
    border-radius: 10px;
}

h2.modalTitle {
    background: #232425;
    padding: 15px;
    margin: 0px;
    color: #fff;
    text-align: center;
    font-size: 21px;
    .mat-icon-button {
        float: right;
        margin-top: -7px;
        .mat-icon {
            color: white;
        }
    }
}

button.confirm {
    background: #ff6600;
    margin: 0;
}

.button.confirm:hover:not(.disable-hover) {
    background: #ff6600;
}

.list-md {
    margin: -1px 0 0px!important;
}

.name:hover {
    cursor: pointer;
    background: #ececec;
}

.search {
    color: #444;
    .ion-input {
        color: #444;
    }
    .item-inner {
        border-bottom-color: transparent;
    }
}