<ion-header>
    <ion-navbar color="secondary">
        <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

        <ion-title>
            {{title | translate}}
        </ion-title>
    </ion-navbar>

</ion-header>